[2012-10-12 21:22] ghost commented on #128
The important thing for us is being able to predict the width so the page looks correct. The height can be set with a maximum only because height doesn't have as many serious impacts to a layout as width does.

[2012-10-12 21:38] orangedrink commented on #127
Until this is fixed our sites are broken and our hands tied. Please hurry.

[2012-10-12 22:59] daviddurand commented on #127
The markup error (two IDs) was fixed about at 1:30 pm today, when I noticed it in the ASPPA pages, and it should have been live within at most an hour after. It was introduced last night at 1:30 AM, as I was trying to make some changes to help with #128 so that at least the solution in #100 would still be possible (CSS).

I can't guarantee that the won't need to be some further tuning, but I think

[2012-10-12 23:24] orangedrink commented on #127
Well then I'm still not sure what the real problem is.

Anyway maybe you could make time to look over our sites and get familiar with what we're doing so that in the future you can avoid breaking our designs or at least give us a heads up if something you're doing will impact us. I know we've asked to be notified whenever you make any updates but I guess that's a big request.

If you have any clea

[2012-10-15 23:23] daviddurand commented on #107
Fixed

[2012-10-15 23:23] #107 closed, assigned to daviddurand

[2012-10-18 14:03] orangedrink opened #132 "Static Export Outstanding Items"
- Still waiting on ability to download PDF files
  This is in our scope of work and is something we need but we still havent seen this yet. Any idea on an ETA?
- Author index not showing full metadata
  The author index work around we're using doesn't seem to show the appropriate metadata.
- Need ability to replace AI link for static export without removing AI from live site..
  For a majority of

[2012-10-18 19:10] daviddurand commented on #132
### Author index not showing full metadata

I don't know what metadata is missing, or what workaround you are talking about, and I don't see an open issue that matches this description. I remember that you were trying to put author indexes on a static page at one point, and that is unfortunately not supported. (#66) and then again (#83) .

### macro to check if static export is in progress and all

[2012-10-18 19:56] ghost opened #133 "Purchasing Bug :: Needs Help ASAP"
http://library.smrp.org/full_metrics/

I setup an offer for SMRP on the above document. I have heard that the process goes through to the final step and then an error comes up and the purchase doesn't complete.

To test this out, I created a temporary offer only visible to the account set omnipress and put myself into it. Went through the purchase and hit the error.

I need to know if we have set

[2012-10-18 20:07] adane commented on #133
We'll have a look.  I did see that there were a number of successful purchases on SMRP around 11am.

[2012-10-18 20:24] daviddurand commented on #133
What error are you getting? are you doing it on the test or live site?

## what offer should we be looking at?

David G. Durand
CEO / CTO
Tizra
9 Catalpa Road
Providence, RI 02906

Email: david.durand@tizra.com
Phone: +1 401 935-5317
FAX: +1 401 273-5171
Web: http://www.tizra.com/
Blog: http://blog.tizra.com/

Online publishing unbound.

On Thu, Oct 18, 2012 at 4:07 PM, Abe Dane notifications@gith

[2012-10-18 20:28] adane commented on #133
It looks like another order just successfully went through on SMRP in the past minute or so.  Order confirmation email below...

Subject:    Your SMRP Knowledge Center purchase
Date:   October 18, 2012 4:24:35 PM EDT
Thank you for purchasing online publications from SMRP Knowledge Center. Details are below.

Purchase of SMRP Guide to Maintenance Work Sampling for $ 25.00
Access Term: 60 days upon

[2012-10-18 20:57] daviddurand commented on #133
It looks like we solved this by email while github was napping. The commerce log field was too short for the name of the really long offer:

email snip:

"Limited Time Offer--Purchase SMRP Best Practices 3rd Edition and get Full Access to Metrics Online (Includes Metrics, Harmonized Metrics, Guidelines, and The Glossary) for $470. Note: 4th Edition estimated publication is Spring/Summer 2013. Pric

[2012-10-18 20:57] #133 closed, assigned to nobody

[2012-10-22 18:18] orangedrink opened #134 "URGENT All Tizra sites are down"
When trying to load any tizra site I see this error in chrome

http://screencast.com/t/IYwR07owW

[2012-10-22 19:29] daviddurand commented on #134
Amazon is having a data center problem which was taking one of our disks offline.

We are now running from a backup as of midnight last night, so it would be good not to make updates in the admin area until we are running from the correctly restored final state. We are now dependent on Amazon to get our disk back online so we can get back to normal operation.

[2012-10-22 20:53] orangedrink commented on #134
Thanks David. Let me know when these sites are back to normal.

[2012-10-22 21:20] orangedrink commented on #132
I don't think we had noticed the metadata issue on the AI of static exports before now so it makes sense that there is no open issue.

I would post screen captures but I can't since the sites are all down. Basically on the online sites an entry in the author index might look like this:

Durand, David
     How to Tizra
     Time: 12:00
     Date: 12/12/12

But on the static export we only see the n

[2012-10-23 19:31] daviddurand commented on #134
notifications went out the mailing list this morning. Sorry for the problems.

[2012-10-23 19:31] #134 closed, assigned to nobody

[2012-10-25 13:27] orangedrink opened #135 "Pakistan is not available as a country in credit card detail screen.."
I received this in an email:

"Thanks Dave the link is working and taking me to the purchasing option, but there is another problem in credit card detail form my country name (Pakistan) is not present so I am not able to use credit card to complete this transaction.  Please add my country name in billing address drop down menu or provide any other alternative."

Is there anything we can do for thi

[2012-10-25 18:27] daviddurand commented on #135
I think we can enable Pakistan and a few other missing "countries" like the "US armed forces. May take a couple of days.

[2012-10-25 21:30] adane opened #136 "Untagged Excerpts May Inherit Document Tags"
In the case where the following sequence occurs, Excerpts may inherit tags from their parent Document...even though the Excerpts themselves appear to have no tags...

1) A Document is created with no tags.
2) Excerpts are created within the Document
3) The Document is tagged (but Excerpts are not)

The workaround is simply to add a random tag to the Excerpts, publish, then remove the tag and publi

[2012-10-26 15:31] orangedrink commented on #135
Thank you David. Just let me know.

[2012-10-29 21:51] orangedrink opened #137 "Users reporting being charged multiple times for content"
Here is the latest email:

---

Hello Unyime-

Thank you for the information regarding the multiple payments charged to our member. Mr. Robert Delgado has explained he was charged three times ($245 each) for purchasing a Best Practices Metric. He is still requesting the material, however would to be refunded 2/3 payment he was charged. I tried to look it up on my end through PayPal  but was unable

[2012-10-29 21:54] orangedrink commented on #135
Any ETA on this one?

[2012-10-31 17:31] daviddurand commented on #135
Pakistan was added last night. On closer reading  the documentation on Paypal's site is unclear, so I don't know if they will actually accept credit cards from there, but you can pick it.

I also added two US states for certain armed forces purchases -- Military overseas can use these.

[2012-10-31 17:31] #135 closed, assigned to daviddurand

[2012-10-31 19:30] orangedrink commented on #135
OK. Thanks!

[2012-11-05 15:37] orangedrink opened #138 "Getting errors when trying to delete collections and their contents"
I'm getting rid of some old content on the SDE site. I go into the collection click on documents in the site browser. I select all teh documents in the list view and delete them. It seems to work but after deleting documents I see:
http://screencast.com/t/9y4bbyviSMct

Then on deleting the collection I see:
http://screencast.com/t/dymEM4VY7

The collection is still there. On my second try deleting

[2012-11-05 18:55] daviddurand commented on #138
OK. One problem is that the collection has a malformed tag -- it looks like two tags were separated by commas instead of semicolons. I haven't seen this elsewhere, so I suspect that it was due to typing into the field directly, rather than by the popup tag editor creating a bad value.

The template errors are a separate issue in error reporting related to recent changes in error signaling, designe

[2012-11-06 16:02] daviddurand commented on #138
This should be better. I've scaled down the system's reaction to that kind of bad collection definition, and I think I've got the error message template problems. It was hard to test because the error in the collection definition must have been an old one -- I actually had to make changes to be able to create an equivalent problem for testing. For the moment, I've left that capability to create er

[2012-11-06 16:02] #138 closed, assigned to daviddurand

[2012-11-06 17:06] ghost opened #139 "Get Tizra Error when Trying to open a page layout"
I'm working on updating TRBs site with a new template and content. http://amonline.trb.org/

I just saved the updated information from staging, and then applied the live site to staging so I could see how a couple things in the sidebar was setup.

After doing that I went into "Home > Presentation > Layouts" and got an error when I clicked any of the Page Types.

I tried to copy the text out of the

[2012-11-06 17:48] daviddurand commented on #139
It looks like you cleaned up all the old designs, and the workbench contained some blocks (probably master blocks, or contents of master blocks) that were part of the old designs -- it's now triggering a database error that a block in the workbench doesn't exist. This is a stale cache problem and should resolve itself.

In fact it's OK now.

[2012-11-06 17:48] #139 closed, assigned to daviddurand

[2012-11-06 18:35] ghost commented on #139
got it, thanks.

[2012-11-07 17:38] orangedrink opened #140 "URGENT SDE having user upload issues"
I tested with this sample:

[code]

And received this error message:

[code]

[2012-11-07 17:49] daviddurand commented on #140
Thanks for the good bug report. I also had a message from Kai, and replied to him. The good news is I noticed the problem shortly after the load, and had a fix within 15 minutes; the bad news is that it won't be live until I can do a restart during off-hours. There's a chance that some of the account updates went through, but most of the upload will have had no effect, since any batch of 150 updat

[2012-11-08 15:47] adane opened #141 "Can't save new Google Analytics tracking accounts"
Clicking Save after entering a new tracking code and description at REPORTING > Google Analytics Reporting does not cause the values to be saved.  Instead, an additional row of form fields is added.  Leaving the form and returning confirms that the new values have not been saved.

[2012-11-08 21:25] orangedrink opened #142 "License not allowing downloads on AMIA site"
Members of the Attendee - AS12 account set should be allowed to download source PDF files via license "94610956"

I tested this by adding myself to the account set and trying a download from the testing site but got the paywall instead of the PDF.

Thank you. Let me know if you have any questions.

[2012-11-08 21:47] daviddurand commented on #142
I believe that you are seeing this problem, but if the user group and licenses were updated recently, there could be a lag involved, as users may need to log out from the Tizra site and then log in again for them to see new licenses.

I'm suggesting this because I was able to add myself to the group, and to download several papers.

The AMIA member site leaves people logged in for a long time, but

[2012-11-08 21:49] daviddurand commented on #140
I saw an SDE load in progress without the errors in question...

[2012-11-08 21:49] #140 closed, assigned to daviddurand

[2012-11-08 22:40] adane opened #143 "Cart Item Count Macro Doesn't Increment Immediately"
When an item is added to the shopping cart, the item counter generated via the  %CART_ITEM_COUNT% macro does not immediately reflect the addition.  Count is incremented only on leaving the cart page for another page containing the macro.

[2012-11-09 14:56] orangedrink commented on #142
It's working for me now.

If there is a lag involved doesn't that cause problems with the SSO? We're getting a lot of support requests from users who can view the documents but not download them.

[2012-11-09 15:00] orangedrink opened #144 "AI SSO Not working properly."
I'll forward you the mail that I received from Rick. Basically he says:

 The user gets directed to the “Knowledge Center” site but they are not “logged in” and do not see any of the tags (seminars).

Let us know what you are able to find out.

[2012-11-09 15:06] orangedrink commented on #144
Here is a username and password to test with

rhood
1AIt3st@ccount9

[2012-11-09 15:22] daviddurand commented on #142
The sso should be independent. What happens is that a Tizra session (associated with a login, and a distinct cookie) remembers access results and licenses for things accessed in the session. This is important for performance, because we don't have to round trip to the database on every access checking the 10's or hundreds of possible ways that a user could access a page (collections, excerpts, col

[2012-11-09 15:33] daviddurand commented on #144
I'm afraid I will be out of pocket until a little after noon, so see what you can find out.

I see validation failures in the log, and given the time of year, I suspect that login script is not properly getting the time in GMT. This happened with JSpargo, and I actually had to read their script and discover that they were not calling a system function to get GMT, but simply subtracting from their

[2012-11-09 18:44] daviddurand commented on #144
Email clipping:

From: **David Franks**
to me, Ryan, Abe

SSO will have to wait until you're available.
I'm looking into the javascript error but can't reproduce it.

[2012-11-09 19:07] daviddurand commented on #144
I was not involved with the developers on this in any significant way. I can talk with them, if that would help, but basically my first question to them would be "how are you getting GMT?" if they are not calling a system function, but instead making a calculation, then they need to get the correct GMT value. If it's not working, even with the correct time being used, then we may have a bug to inv

[2012-11-12 14:58] orangedrink commented on #144
Please get in touch with them to see if that is the problem they are having.

I do realize that you were not involved in the setup of this SSO. This was a bit of a sticking point with me since we did pay you the $2000 to set this up with them. I guess now is your chance. Let me know what you find out.

Thanks!

[2012-11-12 15:29] adane commented on #144
David--

We'll be happy for David Durand to talk with the appropriate customer contact if you will set up the conversation.

As with other aspects of our partnership, it's our understanding that you want to be primary points of contact with the customer and that we are providing Level 2 support.

Please bear in mind also, that the SSO fees are not just service fees but license fees reflecting the

[2012-11-12 16:28] orangedrink commented on #144
If David could contact him by email that seems to make the most sense at this point.

Abe would you be able to outline exactly what services are included in the SSO fee? If services like this are not included I think it may be necessary to give us some more troubleshooting tools on this end so that we have the ability to see what might be going wrong.

[2012-11-12 16:41] adane commented on #144
The point is for you to set up the conversation, whether via phone or email, with whomever the correct point of contact at the customer is.

It is not an efficient use of a technical resource to have David Durand try to figure who he is supposed to contact, introduce himself to that contact, etc.  A simple email from your end, copying David will do the job.

[2012-11-12 17:04] orangedrink commented on #144
I see. I guess it wasn't 100% clear that the email I forwarded Fri was from the correct point of contact. I sent an introductory type email to get the conversation started.

Any way I could get a brief rundown of who is responsible for what when it comes to SSO?

[2012-11-12 17:36] adane commented on #144
OK.  So you want David to take this up with Richard Hrubec?

Obviously what's tough about SSO is that it's hard to standardize, but in general my understanding is that you manage coordination and communication with the customer and any third parties.  We provide advice and input as to approach prior to the sale, then implement once there is agreement.  After implementation, we provide Level 2 supp

[2012-11-13 15:16] orangedrink opened #145 "Error when doing a list publish of collections"
When publishing collections on AI I get this error.

http://screencast.com/t/fFSjrMHu4

[2012-11-13 16:32] daviddurand commented on #144
I did some research on VB.NET and found the system calls to calculate GMT. Richard then updated the script to correctly access GMT, and it seems to be working reliably since.

[2012-11-13 16:32] #144 closed, assigned to daviddurand

[2012-11-13 16:46] daviddurand commented on #145
I found an error message in the logs, and it looks like it may be a problem in the list selection code -- not the publication _per se_. I'm going to investigate now, but if you don't filter the list, the publish should work properly. Once I can replicate it, a fix should follow shortly.

[2012-11-13 17:06] daviddurand commented on #145
Fix is going in place now.

[2012-11-13 17:06] #145 closed, assigned to daviddurand

[2012-11-14 15:23] cbwinchild opened #146 "changing a property with limited values"
when i change a property type that has limited values turned ON, and i've added an ILLEGAL property value to it, when i change from Keyword LIST or SINGLE Keyword TO Keyword CHECKLIST, the illegal property value is not brought over.

(whereas, when I change a property with limited values turned on TO a Keyword List OR Single Keyword, the illegal value IS brought over).

[2012-11-15 22:02] orangedrink opened #147 "AI Toggle PDF/Image button not working"
To replicate log in and visit http://knowledgecenter.appraisalinstitute.org/842-student-handbook/1

Click the black button that has the image icon on it. Second one from the right.

[2012-11-15 23:03] daviddurand commented on #147
This page still appears to use the script mentioned in issue #127, which is not supported, and will never work again. For performance reasons alone you should make sure this is removed.

I can tell the script is still in play because in PDF mode I see the image and PDF on the same page (in a broken layout).

The page can be switched _into_ PDF mode, but not out out. This is a problem in your javas

[2012-11-15 23:03] #147 closed, assigned to nobody

[2012-11-16 15:09] orangedrink commented on #147
It was related to that script. I didn't realize that was still in there. Thanks David!

[2012-11-16 18:11] PStokesOmni opened #148 "Static Export Issues"
With SIAM/52955 I am trying to do a static export of the site, in the .zip file of the export there is only on folder "collections" with one html file that is blank.

Please advise.

[2012-11-16 20:28] daviddurand commented on #148
What's the site URL? Is the content published? which design are you using, or is that what "SIAM/52995" means? It does sound like a probable bug.

[2012-11-16 20:48] PStokesOmni commented on #148
URL: http://siam52955.tizrapublisher.com/admin/main
Design: 00000-MOBILE and PDF Controls
yes, content is published.

[2012-11-16 21:49] daviddurand commented on #148
It's fixed (and live).

There was a macro problem in a call to `%IF_CONTEXT_VALUE_BEGIN(METADATA_VALUE:a,b)` I could not find the exact call (too many master blocks) to check if the problem was your syntax or a system failure on checking a missing property, but I fixed the crash, and it seems to be exporting reasonably at this point.

If you see something funny in the export, you may want to check

[2012-11-16 21:49] #148 closed, assigned to daviddurand

[2012-11-19 21:14] ghost commented on #139
This is happening again. I have not deleted anything, only updated a static page and added some css.

[2012-11-19 21:28] ghost commented on #139
Closed all tabs with the site on it, waited and then logged in after 5 minutes or so. Everything seems to be working again, but if you know what may have caused this I would like to know.

[2012-11-20 16:33] orangedrink commented on #148
We're missing metadata in the TOC now.

The live site looks like:
http://screencast.com/t/sH65RHBvIdEJ

But the export looks like:
http://screencast.com/t/xdm7sSKL

[2012-11-20 17:32] daviddurand commented on #139
From the logs is looks like you may have run into some trouble with a master block sitting in the workbench that was defined in a layout that was subsequently deleted. Dragging the master block into a new layout may have then caused the problem.

I've tried to moderate the system behavior in more of these cases, but there are longstanding issues with moving master blocks between designs on a perma

[2012-11-20 18:43] daviddurand commented on #148
You had set the MetaType on the list blocks to "Document". That types is actually just like the book metatype, but does not get get extended when you add fields to "Book". The static export (because it's offline) is a bit more restrictive in how it formats list entries, as it is driven entirely by the delcared type.

Since the  purpose that the "Document" type once served is now completely extinct

[2012-11-23 17:36] orangedrink opened #149 "TRB SSO Problems"
Hi David. It looks like the user update functionality you set up for us back in January is broken. Users are not able to set up their accounts using the SSO on the TRB site.

I'm forwarding you the email discussion around getting this working all that time ago along with credentials to use when testing. Let me know if you have any questions

[2012-11-26 16:59] cbwinchild opened #150 "Author Index letter links bringing me to Title Index"
When I click on the Author Index link in the menu bar of my site, I correctly go to the list of ALL authors page:

http://cbw.tizrapublisher.com/~bookindex?indexLetter=ALL&indexField=Authors

BUT, when I click on a letter to go to a specific list of author last names ending in that letter, I'm brought to the TITLE INDEX page. Here is the letter P:

http://cbw.tizrapublisher.com/~bookindex?indexLet

[2012-11-26 19:15] orangedrink commented on #149
This seems to be working now. I'll let you know if I hear of a problem again

[2012-11-26 19:20] orangedrink opened #151 "Creating an account set on SDE site is very slow"
I'm in the process of creating account sets for the SDE winter conferences and it's going very slowly. I'm guessing this is because of the high number of users in the site.

To reproduce just create a new account set on the site and you should see what I mean.

If there is anything you can do or any advice you can give to make this process go faster it would be very helpful.

Thanks

[2012-11-27 16:46] orangedrink commented on #151
I'm just going to move forward with this. If you could take a look by the time we do the spring upload though I would appreciate it.

Thanks!

[2012-11-27 19:12] daviddurand commented on #151
There are a number of places where list views have created problems. Due to some differences in how user accounts and published items are represented in the database, long lists of user accounts are slower than we would like. We made a number of adjustments (and display restrictions) in the past, solely to avoid long delays incurred in formatting lists that are too long for effective browsing in a

[2012-11-27 19:22] daviddurand commented on #150
Fixed, thanks.

[2012-11-27 19:22] #150 closed, assigned to nobody

[2012-11-28 15:54] orangedrink commented on #132
Any progress on this one?
In case you need clarification on CE the author index looks like this
http://screencast.com/t/Zd34TsRoQt

But on the static export I get
http://screencast.com/t/AAbMc6gs7BB

[2012-11-30 16:52] daviddurand commented on #137
We've added a javascript that disables the button after form submission and changes the button to a "wait" message. This should do a lot to reduce multiple presses. According to PayPal, clearing a credit card can take up to a minute, though usually much less, so they advise an explicit note to that effect. You may want to consider including that in your site copy.

[2012-11-30 16:52] #137 closed, assigned to daviddurand

[2012-12-03 17:08] orangedrink opened #152 "Having trouble deleting documents"
I'm trying to remove all of the documents from the BS site. I'm using the list view and clicking on "view all xxx documents" and then deleting them. I get this error.

http://screencast.com/t/ypp3PUdz

[2012-12-03 17:11] orangedrink commented on #152
I need to move forward with this job so I'll delete them a few at a time as I'm able. Sorry if that makes this hard for you to reproduce.

[2012-12-03 18:27] #149 closed, assigned to nobody

[2012-12-03 18:40] orangedrink opened #153 "Can't add Google analytics tracking codes"
I'm trying to add a GA tracking code to the ASPPA site.

To reproduce go to reporting>Google analytics

Enter a tracking code and description and click save.

The tracking code is not added.

[2012-12-03 18:59] daviddurand commented on #152
This is must be due to a search index updating problem in the past (perhaps a failed publication), so that you are (inadvertently) trying to delete something that no longer exists. I'm making a fix to this that should be in place tomorrow.

[2012-12-03 18:59] #152 closed, assigned to daviddurand

[2012-12-04 15:14] orangedrink opened #154 "Creating documents on BS site is very slow"
I'm trying to create a bunch of documents on bs53210.tizrapublisher.com

When I create a new document the document properties page doesn't load completely. Even if I'm able to fill in the needed info I have to wait up to a couple of minutes before I can save the document.

To reproduce create a new document and try to save it.

I'm getting pretty far behind with this job. Please hurry!

[2012-12-04 15:42] orangedrink opened #155 "SIAM site throwing error from layout editor"
Trying to make edits to the sidebar frontal css masterblock from the user personalization page

http://screencast.com/t/iswuPIKD

[2012-12-04 15:42] orangedrink commented on #155
Let me know if you have any questions

[2012-12-04 15:51] orangedrink commented on #155
It sounds like Paul got this working. Please give the BS issue a higher priority. #154

[2012-12-04 18:55] daviddurand commented on #154
Sorry for not having commented earlier. I've been working on this all day. It's a serious regression in performance optimization for very large sites, which I've been working on tracking down. Admin for really big sites like TRB is unusable right now, with delays of minutes to display a single page from the list of all publications.

[2012-12-04 22:35] daviddurand commented on #154
I found the problem, and will be doing a server restart sometime after 6 Eastern to reset. Looks like you have some publishing going on, so that may need to be restarted once things are back to normal. Will close this issue once the restart is complete.

[2012-12-04 22:50] orangedrink commented on #154
OK thank you.

[2012-12-04 23:07] daviddurand commented on #154
The delays are now gone.

[2012-12-04 23:07] #154 closed, assigned to daviddurand

[2012-12-05 11:28] adane opened #156 "User Availability setting on Collection does not limit visibility within nested Collections"
When User Availability is used to restrict visibility of a Collection, the Collection does not appear in lists generated by the Collection List Smart Block, as expected.  However, when you create a Collection of Collections, the name of the Collection IS visible, even to users who are not within groups selected in the User Availability box.

[2012-12-06 21:43] orangedrink commented on #153
We'll be contacting you to see if we can get you to send us analytics data from your account since we aren't able to add analytics to our sites.

[2012-12-07 19:38] daviddurand commented on #153
Sorry for the delay in this. The problem has been fixed and will be live tomorrow.

[2012-12-07 19:38] #153 closed, assigned to daviddurand

[2012-12-07 22:01] orangedrink opened #157 "SMRP Site ecommerce not working"
To reproduce fill out the first ecommerce step page and click verify information

http://screencast.com/t/I5roL854Z

[2012-12-07 23:39] daviddurand commented on #157
Thanks for this. I would have helped to have the site URL (I was able to look it up).

The problem is fixed now -- It only showed up for sites _not_ using the cart, which are now pretty rare, and was a regression of an old bug.

You need to test this with an offer published to the live site. Even if you start from the testing site, the system enforces a secure URL (by redirect) for all of credit c

[2012-12-07 23:39] #157 closed, assigned to nobody

[2012-12-10 14:58] orangedrink opened #158 "Having trouble deleting collections"
I'm removing groups of documents and their collections from handouts.sde.com. I'm able to remove the documents without issue but then when I try to remove the empty collection I get this error:
http://screencast.com/t/bDlpLPxWLvm8

If I retry a few times I'm eventually able to delete the collection but this makes the process a little more difficult.

Thank you!

[2012-12-11 14:22] #155 closed, assigned to nobody

[2012-12-11 14:23] daviddurand commented on #142
without further info, I'm closing this.

[2012-12-11 14:23] #142 closed, assigned to daviddurand

[2012-12-11 14:49] daviddurand commented on #146
Changing types is always a little dangerous, as all content should be republished after changes to types that may affect sorting order or search behavior. For instance text and HTML fields are split into words for full text search, where keywords and strings are not, Numbers are indexed specially so that `1`, `100`, and `10000` will not sort together in front of any number starting with `2`.

That

[2012-12-11 22:38] orangedrink opened #159 "Unable to update loading image on amonline.trb.org"
I'm trying to update the image named 'loading' on amonline.trb.org

This is not a site property but an image at "Home > Presentation > Images > loading"

I click Choose File, browse to the new file, click open and have tried then clicking save and publishing to live and staging with no luck.

Thanks.

[2012-12-11 22:43] orangedrink commented on #159
This did update eventually. It just took a few minutes.

[2012-12-12 01:54] daviddurand commented on #159
probably browser cache.

[2012-12-12 01:54] #159 closed, assigned to nobody

[2012-12-12 21:52] orangedrink opened #160 "CMBA can't edit or delete a collection"
To reproduce go to the admin panel for http://knowledgecenter.clemetrobar.org/

Go to collections and try to edit the collection named "White Collar Crime in America and the World: The Experts Speak" which is NOT tagged with 'event' or 'USE THIS ONE'

[2012-12-13 13:12] daviddurand commented on #160
It's working now, and so I can't replicate the error. Checking the logs does show errors on that collection around 4:20 and after. These errors indicate that you deleted a license, and that the database cache was stale, so that the license referenced in the cache was not there in the database.

I'll look into possible underlying causes. In any case, with recent caching changes, this should clear s

[2012-12-13 17:02] orangedrink opened #161 "Character entity problems"
Has something changed with this recently? I think we're seeing our entities double encoded. See the capture below from TRB to see what I mean.

http://screencast.com/t/wIi8rZURvAS

We have a lot of sites set up this way so I'm hoping this can be fixed. Let me know if you have any questions.

Thanks!

[2012-12-13 20:03] daviddurand commented on #161
There's no direct change that I can find -- though I can't check all of the thousands of changes. The significant change to the most likely spot for a problem was made in july of 2011.  What may have changed is the behavior of the bulk import. The problem is that semicolons separate items in lists, so that given a string like: `De Palma, Andr&#233;;Perali, Federico;Picard, Nathalie;Scorbureanu, Al

[2012-12-13 21:42] orangedrink commented on #161
I think as long as we can put a character entity in and have it come out the same way (and be rendered as the correct character by the browser of course) we will be ok.

It looks like this is working fine on other sites so feel free to close this issue. If I find out anything relevant about this  case I'll let you know. Feel free to close this issue.

Thanks!

[2012-12-13 22:03] orangedrink commented on #161
Ugh.. I'm sorry. I didn't understand the part about empty lists at first. Is there a way we can escape the necessary semicolons? For example by using "\;" or some other encoding?  If unicode is the only option we can work with that. Thank you.

[2012-12-13 22:08] daviddurand commented on #161
Be aware that this problem will exist for any field that is a "list" field except for keyword lists (which have a special editor). In particular, the system Authors is a list field, and that's the right type to use for other lists of items that may each contain searchable words.

Your question about escaping is to the point, and there is an escape code, but it will only work if the list is process

[2012-12-13 23:40] daviddurand commented on #161
I'm putting in a fix tonight. The escape for semi-colon is `%3B`. Just a special case of URL escaping.

[2012-12-14 16:37] daviddurand commented on #161
I had to back out of my idea for a quick fix on this, as I remembered the problem  -- many sites, including some of yours, have & characters in them that are not entity references, and this can confuse the markup situation if the strings are not escaped -- plus we have had other problems with characters that are significant in HTML/XML.

I've reopened this issue, and relabeled it "enhancement". Th

[2012-12-16 00:28] daviddurand commented on #161
I revisited this after a little more thought and code review. It turns out that things were not previously consistent -- properties were escaped in some places, and unescaped in others -- List-valued items were one of the places where escaping was not done. I don't know why entities worked before. They could have broken when we implemented markup around list items in author indexes, or you may hav

[2012-12-16 00:28] #161 closed, assigned to daviddurand

[2012-12-16 00:31] daviddurand commented on #158
I couldn't track this down, but the error reporting should be improved if it happens again. Reopen the issue if it recurs and there's a way to investigate it.

[2012-12-16 00:31] #158 closed, assigned to nobody

[2012-12-17 22:26] orangedrink opened #162 "Can't use HTML in free html block?"
To reproduce log in to the admin panel in http://af53342.tizrapublisher.com/ and try to publish the design to live.

The code that seems to cause the error is in the layout override of the static page called author index. I've labeled the block "THIS ONE I THINK"

Thanks!

[2012-12-18 15:47] daviddurand commented on #162
There's a giant markup block in the design that contains an illegal character for XML/HTML, and that's caused the problem:

[code]

[2012-12-18 22:50] #162 closed, assigned to daviddurand

[2012-12-18 23:26] #160 closed, assigned to daviddurand

[2012-12-26 21:19] orangedrink opened #163 "Unable to publish to live"
To reproduce go to the static page named "2013 Subject Index" on amonline.trb.org and try to publish it to live.

I've been seeing this with collections as well.

Let me know if you have any questions.

[2012-12-26 21:28] orangedrink opened #164 "Unable to update Practice ready property on papers on amonline.trb.org"
After you had mistakenly changed the Practice Ready Property to a boolean type I tried to set this back to a string and use the list tagger to set all of the documents with a value of true to yes and a value of false to blank. I'm able to see these changes reflected on the back end but the front end is still returning a true/false value

To reproduce see the first paper retuned in these search res

[2012-12-26 21:43] orangedrink commented on #164
Here's a screen grab: http://screencast.com/t/XBuePDIqec

[2012-12-27 03:12] daviddurand commented on #164
Sorry I changed the type; I thought it was a new property, but I may just have been completely mistaken.

If you change a type, any documents that were published with the old type will need to be republished once you have changed the type. If you've been making changes in content management, running the supertagger over the new documents first will ensure that the content management index is up to

[2012-12-27 13:59] orangedrink commented on #164
I think it just took a long time for the changes to come through on the front end. They look right this morning.

Thanks David.

[2012-12-28 14:28] #164 closed, assigned to nobody

[2012-12-28 14:29] orangedrink commented on #163
Any progress here? We need to be able to publish to live.

[2012-12-28 14:34] orangedrink commented on #163
It sounds like Paul is having a problem with publishing things on http://lars53669.tizrapublisher.com as well.

Not sure if this is related.

[2012-12-28 19:11] orangedrink commented on #163
Paul's site was supposed to go live today.

TRB will need to be fixed by tomorrow in order for us to stay on schedule.

Could you at least confirm that you know about the problem?

[2012-12-28 19:30] daviddurand commented on #163
I found a problem in error reporting, which was causing the message on a publication problem to be suppressed, and that is why you were not getting the silent publication failure.

I'll follow up here once I've got the fix in place.

[2012-12-28 19:35] daviddurand commented on #163
It's a maximum number of pages problem. I'll bump up the plan, and you guys and Abe can work out the financial details later.

[2012-12-28 19:35] #163 closed, assigned to nobody

[2012-12-28 19:41] daviddurand commented on #163
I published the static page once I pushed the page count up. I don't have any details to test Paul's problems, so I can't do more on that. Open a fresh ticket with a  detailed bug report if there's something I need to do there. Now that the messages are showing up again, you may be all set.

Sorry about slow response, but it's Christmas. In an emergency, you should definitely call.

[2013-01-02 18:12] orangedrink opened #165 "Filter list broken on TRB document screen"
To reproduce go to the admin panel of amonline.trb.org and click contents. Click Create list filter and then on the filter list input.

I'm getting various error messages. Seems to be a different one every time.

Thanks.

[2013-01-02 18:15] orangedrink opened #166 "Can't edit collection on amonline.trb.org"
When I click on the collection named "Past Documents (2011 - 2012)" I get the following error

http://screencast.com/t/QUhhewXj

[2013-01-02 19:01] daviddurand commented on #166
Can you tell me what you were doing on the site just before you noticed the problem? it seems like it may have been a stale database cache issue, as I can't see the problem any more.

[2013-01-02 19:08] daviddurand commented on #165
This seems most likely to the same cache issues as  #166, since I can't replicate this problem either. Stale cache could lead to a number of issues, depending on the exact access history of the relevant data, which may also make some sense.

I was able to filter on admintags and Year in the document list.

I am closing this issue -- followups if any should go to #166.

[2013-01-02 19:08] #165 closed, assigned to daviddurand

[2013-01-02 20:44] orangedrink commented on #166
I was using the list tagger to tag a bunch of documents.

[2013-01-02 20:56] orangedrink commented on #166
I was able to edit the collection a minute ago but now I'm getting an error again.

[2013-01-02 21:00] orangedrink commented on #166
I'm intermittently able to open the collection but when I can I see this

http://screencast.com/t/YFngJyGM4uG

And then I get sporadic error messages when trying to work with the tag picker. Sometimes they look like:

http://screencast.com/t/d1r733I3

But most of the time I'm seeing:

http://screencast.com/t/mxKLiYlPXOd

[2013-01-04 14:07] orangedrink opened #167 "URGENT: Static export of site http://bps2013.conferencespot.org/ produces invalid zip file"
After export I get this error message when trying to open the zip file
http://screencast.com/t/3qElCQYtRdr

I need to get this export done today so please hurry.

[2013-01-04 14:26] orangedrink commented on #167
Also please make sure that macros are working properly on the export. Using some command line utilities to try to fix the zip allowed me to see the index.html file and it looked like macros were all missing.

I put the macro in like this:
http://screencast.com/t/49CqZF6ZPg

But my code comes out looking like:
http://screencast.com/t/mdMw7pfU72

it looks like a similar story for the design properti

[2013-01-04 17:25] daviddurand commented on #167
I'm working this, but the export is huge, and I'm having trouble tracking it down.  I'll keep you posted.

I'll work the parameter problem once I find the file format issue.

[2013-01-04 18:58] orangedrink commented on #167
OK thanks

[2013-01-04 21:34] orangedrink commented on #167
I talked with the project manager on this job and it sounds like as long as this is ready for me by Monday we will be OK.

Thanks!

[2013-01-04 21:37] daviddurand commented on #167
I have found the problem with the invalid zip files. I am working the macro issue. The problem is that the web server was gzip-encoding the zip file, not only is this useless, and does it make the server slower, but it can occasionally introduce errors depending on particular character combinations that can show up in the zip file before gzip compression....

This problem had probably manifested e

[2013-01-07 06:26] daviddurand commented on #167
macros are being replaced properly as well.

[2013-01-07 06:26] #167 closed, assigned to nobody

[2013-01-07 18:52] orangedrink commented on #167
I'm not getting the title macro at the top of each collection page.

I put in "&lt;h1>%TAG_VALUE_OBJECT(Title,)%&lt;/h1>"

But I get "&lt;h1>&lt;/h1>" in the static export.

I need to have this finished today so please hurry!

Thanks!
-Dave

[2013-01-07 20:22] orangedrink commented on #167
I can't find any other macros that aren't working properly.

[2013-01-07 20:45] daviddurand commented on #167
Whoops.... This is not exactly a bug, but it would be pretty hard for you to have figured out.

 The problem is that Collections have "names", which are not normal properties at all. There's a special exception in place for the "Title" property on collections, which will return the name of the collection as the default value if there is no property named "Title" defined on the collection.... You c

[2013-01-07 22:01] orangedrink commented on #167
Hmm.. There are a few hundred collections on this site so going into each one to add a title isn't very practical. Is there a macro I can use to pull the "name"?

[2013-01-18 15:16] cbwinchild opened #168 "In Users, have Reset button clear user search results"

[2013-01-21 16:00] ghost opened #169 "Tizra Favicons"
Is it possible that Tizra declare the favicons inside the global header of your designs so that Omnipress can set a favicon for us and our customers if requested?

This would allow us to setup the favicon, the apple touch icons and eventually the IE10 Metro icons to all match for a single site.

Thanks,
Ryan

[2013-01-21 18:48] ghost opened #170 "Document filtering"
The filter for documents use to stay filtered after finding, editing and publishing a file so that you could return to your filtered list and find another document that fit the same filtering criteria. Now the filter resets any time you go back to the document list.

I only post this because I wasn't sure if this change was on purpose or if it was something that happened with another update.

Than

[2013-01-21 22:11] daviddurand commented on #170
Can you give an exact sequence and site, as I tested on one of mine, and was able to set a filter, click on a document in the colum browser, save changes, publish, and then click on documents in the content browser, and I still saw the filtered list.  clicking on the "Books" link in the breadcrumbs also preserved the filter.

Clicking on "Home" does not, but it also takes you back to the main admi

[2013-01-22 14:55] ghost commented on #170
Yesterday I tried multiple ways to return and no matter what I did the filtering was removed... but with that said, it worked fine this morning.

[2013-01-22 14:55] #170 closed, assigned to daviddurand

[2013-01-25 22:07] orangedrink opened #171 "JSON problems on NFXF Site"
To reproduce visit this URL

http://nfxf.conferencespot.org/api/query?tizra-id=2bi0b4

[2013-01-25 22:36] daviddurand commented on #171
I had just noticed this. It was a deployment problem. I will restart with a fix shortly.

[2013-01-25 23:32] daviddurand commented on #171
working again.

[2013-01-25 23:32] #171 closed, assigned to daviddurand

[2013-01-27 17:43] cbwinchild opened #172 "can't open https://secure.agilepdf.com/site/welcome"
when i try to open https://secure.agilepdf.com/site/welcome

i get this error page:

Error: Unknown Tizra Error

If this looks like a bug, please send us a note describing what happened, and we'll try to get things fixed as soon as we can. providing us details on the steps leading to this error. We'll get back to you as soon as possible.

[2013-01-28 14:22] ghost opened #173 "SDE Login Issues"
SDE has 5 events starting today and people trying to setup their accounts can not. When trying to login for the first time the user enters their username and then clicks login to create the password. When they click login, the site doesn't go to the claim account page as it should, but just refreshes the home page and clears any entered information.

Site: http://handouts.sde.com/
After login atte

[2013-01-28 15:25] daviddurand commented on #173
We just tested two other sites and found out that it seems to be happening to more sites then just sde.
Not sure if this helps you, but I thought I would let you know.

Thanks,
Ryan

[2013-01-28 15:25] daviddurand commented on #173
Found the problem. Fix will be live shortly.

[2013-01-28 15:26] #173 closed, assigned to nobody

[2013-01-28 15:38] orangedrink commented on #171
It's just throwing a different error..

[2013-01-28 15:58] daviddurand commented on #171
Found the problem. This recurrence of #171 may have happened in the SDE
recovery. It's working now, and should not recur.

[2013-01-28 16:36] orangedrink commented on #171
OK thank you.

[2013-01-29 21:51] orangedrink opened #174 "Seeing problems with bypass TOC feild in TRB upload"
I'm hearing about a bunch of cases where it seems that the bypass toc setting was set incorrectly in the first TRB upload we did early this month. I'm having to correct the settings as soon as I hear about it so hopefully that doesn't cause problems for you when trying to troubleshoot.

So far I've had to correct 13-1051, 13-3994 and a couple of others that I would have to dig up. Looking in the u

[2013-01-29 21:58] daviddurand commented on #174
I believe that we had some email back and forth on some fields that were string values, with "yes" being special, rather than a true/false. I sort of remember doing some conversion (case conversion, maybe?). If you think there may be problems, you should just export the 2013-tagged articles, and check the values.

[2013-01-29 21:59] daviddurand commented on #169
We'll think about this, as we continue to explore customization and the new reader.

[2013-01-29 21:59] daviddurand commented on #172
this was fixed.

[2013-01-29 21:59] #172 closed, assigned to nobody

[2013-01-29 23:09] orangedrink commented on #174
I'm not that fond of having to check your work but these are the ones that were incorrect:

13-1191
13-2206
13-2661
13-3422
13-4737
13-1723
13-1991
13-2893
13-3127
13-4565
13-5236
13-5184
13-4288
13-4684
13-0108
13-0514
13-0533
13-1356
13-2124
13-2138
13-5362
13-1946
13-2952
13-3426
13-3434
13-3564
13-3731
13-3748
13-3905
13-4247
13-5252
13-5267
13-5347
13-1155
13-1062
13-1243
13-1365
13-2753
13-4

[2013-01-29 23:13] orangedrink commented on #174
Please fix them

[2013-01-30 17:30] daviddurand commented on #174
I've checked the history, and it seems that your spreadsheet used the values "True" and "False" instead of the standard values "true" and "false" as used throughout tizra, including the export files. However, I agree that detail is not documented in the metadata cheat sheet.

I think I can make a pretty quick fix in this case, and I am willing to because of the documntation issue on this detail, d

[2013-01-30 17:56] PStokesOmni opened #175 "Trying to edit collection Home layout"
I get the following error message popup when I try to edit the collection home for the table of contents collection on neta53976.tizrapublisher.com

Request failed. Error sent back: >><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <link rel="stylesheet" href="/aa_admin/aa_styles/tizra.css" type="t

[2013-01-30 21:41] orangedrink commented on #174
Thank you David. Hopefully with the new import things like this won't be an issue.

[2013-01-30 21:52] orangedrink opened #176 "List filter returning no results on amonline.trb.org"
To reproduce use the list filter to search for any paper number. I'm seeing "No documents" even though the paper number is listed in the tag picker and can be found in the search on the front end.

Thanks!

[2013-01-31 14:32] ghost commented on #169
Sounds good. I only offered the idea of moving the favicon information into the global header because that seemed like the easiest way to manage all possible icons (apple touch icons, IE10 Metro icon, png for newer browsers and ico for older browsers). I was going to try to use the code from http://www.jonathantneal.com/blog/understand-the-favicon/ as a test.

With so many icon options available I

[2013-01-31 15:38] daviddurand commented on #175
I don't see a table of contents contents collection on that site, but I am getting an error when I try to edit the main home page template. The error actually occurs on any attempt to edit a template.

I tried saving a copy of the staging state and reapplying it, which can often clear an error in the layout, and that did not fix the problem.

I traced it to a database inconsistency in the workbenc

[2013-01-31 15:38] #175 closed, assigned to daviddurand

[2013-01-31 22:04] daviddurand commented on #176
This was a transient problem from an upgrade, and we've reverted until we can figure it out. I didn't see this message last night because I was working on it.

[2013-01-31 22:04] #176 closed, assigned to nobody

[2013-02-13 23:42] PStokesOmni opened #177 "Indexes on Export in Different order than site"
If you go here and note the order is the same as the "sort" metadata field so the papers will display in the proper order
http://sar2013.conferencespot.org/toc/

When I do the export, the papers on the same index are in a completely different order.

Please let me know how to fix this.

[2013-02-20 17:52] adane opened #178 "Metadata for staged content is not available in collection filters"
When documents or excerpts are published to staging only, their metadata is not available in the pickers for populating the Matching Any or Matching All filters.

[2013-02-20 18:17] adane opened #179 "Excerpts are not sorted based on location in the Document"
In the Admin, the Excerpt lists for particular Documents sometimes don't sort based on the first page of their page range expressions.  I believe that in the past, the Excerpts were sorted based on their location within the book, which made them easier to work with.

Screenshot of an example list attached.
![Screenshot 2:20:13 12:56 PM-2](https://f.cloud.github.com/assets/1355614/177080/a6aebd4a-7

[2013-02-26 00:07] daviddurand commented on #178
fixed. will be live soon.

[2013-02-26 00:07] #178 closed, assigned to daviddurand

[2013-02-26 18:26] orangedrink opened #180 "Metadata Fields disappearing..."
The url is:
http://experient54193.tizrapublisher.com/

Metadata fields were there and then disappeared. Paul has tried to add them back again and when he does the original values show up.. until the field disappears again.

This site isn't super hot but I think he would like to get working on it today if possible. Let me know if you have any questions.

[2013-02-26 20:07] daviddurand commented on #180
I think this is likely the result of the overlapping publish operations that I emailed you about earlier this afternoon.

I need more detail to look into fixing things, though. Are the field definitions disappearing (so that the fields don't appear in the admin) or are the values disappearing (so that they appear blank). In both cases, the bahavior may be different on the live and staging sites, a

[2013-02-26 20:19] orangedrink commented on #180
The definitions are disappearing in the admin panel. but when we add them back in the values come back.

[2013-02-26 20:30] daviddurand commented on #180
This is very interesting, as this is not a problem we've seen or that I would expect from the publication problem...

This is probably due to something that is being done in the interface, so please try to notice what operations may be preceding "a vanishment". If it would help, I might be able to come up with a list of field names that should be added back.

[2013-02-28 14:27] ghost opened #181 "Uploader not working"
http://screencast.com/t/IGmd46QZFD

I took this video of what is happening when I try to upload a file to ASPPA. I'm trying to update the staging site with new files so they can proof the new content without disturbing the live content. No file appears after I remove the old file and upload the new file and then upload to staging.

I really need to get these files online this morning for them to p

[2013-02-28 15:30] daviddurand commented on #181
Thanks for the movie. You'll have to send me the PDF file, as it's not file upload that is broken in general. I uploaded a random PDF and published it to staging without trouble -- It's still sitting there, but will need to be removed.

I've been trying to make the error alerts less painless in the admin generally, and perhaps some upload message is being eaten.

It would be good to have the URL o

[2013-02-28 15:33] daviddurand commented on #181
Previous post seemed not to have gone through, but it put it in the log anyway.

From Ryan in emai:

I'd still like to see the file in case there is something to learn there.

[2013-02-28 15:33] #181 closed, assigned to daviddurand

[2013-02-28 15:40] ghost commented on #181
I'll send you a file or two so you can investigate.

[2013-03-01 21:09] ghost opened #182 "Publish of new version to staging produces error when attempting to preserve current live"
When I try to publish a file (Chapter 15, Tables, Checklists, and Quick Reference Guides) to Staging, I get the following error message: http://screencast.com/t/sXELUAjHs6kk

I had to remove the new file so that I could upload the old file because the ToC from both the new and old file were showing up on the live site. We had this happen once before on another chapter, but I don't notice it on any

[2013-03-01 21:21] daviddurand commented on #182
It was a caching issue, (I suspected so from the "staleStateException"). By the time I tried the operation from here, it was fixed, and it's now republished...

It's possible that a file published long ago might run into problems with interference between the live and staging versions of the ToCs, as there were some bug fixes to the publication process over the last year.

[2013-03-01 21:25] ghost commented on #182
The file wasn't suppose to be published live only to staging. I never clicked publish staging and live but now it is in both spots. Why did that happen!

[2013-03-01 21:33] daviddurand commented on #182
I did the wrong thing... which is why I try never to publish to live. Broke my own rule.

My guess is that documents in question won't support publishing to staging only with a new PDF until they've been unpublished first (that clears out any old problems).

You may just want to put the new PDFs in a new document for proofing...

[2013-03-01 21:49] daviddurand commented on #182
In testing, I have found that publishing a new PDF to staging after deleting an old one (which is published to live), will dependably reproduce the error you encountered.

We are working it now...

[2013-03-02 03:50] daviddurand commented on #182
Found a database issue that was causing problems on any attempt to publish to staging when the document was already published to live. Some documents published more than a year ago might not have had this problem (because staging and live were managed differently at that time).

In any case, the problem is fixed, and it should be fixed for all documents, regardless of their history.

Thanks for th

[2013-03-02 03:50] #182 closed, assigned to daviddurand

[2013-03-04 16:11] orangedrink opened #183 "Chapter 1A not showing PDF files on elibrary.asppa.org."
To reproduce visit this link: http://elibrary.asppa.org/erisa-outline-book-chapter-1a/1

Let me know if you have any questions.

[2013-03-04 16:14] orangedrink commented on #183
Ryan was able to get this fixed but still probably a good idea for you to be aware of the problem.

[2013-03-04 16:50] daviddurand commented on #183
Nope, there's still a problem there...

If you want the 2013 version, you should unpublish and republish the document, which ought to fix things. If you need to have 2012 up for the live pages while staging 2013, I'd put 2012 in place, republish it, and do the 2013 work on a separate document while I look into this and the ToC problem, which may be related.

[2013-03-04 16:56] orangedrink commented on #183
That's not an option since our cross links aren't going to work if we do 2013 in a separate document. Please hurry. This is a very sensitive customer.

[2013-03-04 16:59] daviddurand opened #184 "ToC interference between live and staging when a new PDF is uploaded and staged"
After publishing a document to live, then uploading a new PDF version, and publishing that to staging, the live TOC showing is visible on the staging site instead of the new one that should show up.

This problem is being split out from #182 as it is separate from the crashing issue.

This may share a cause with problems with content delivery when the staging and live PDF sources are different, su

[2013-03-04 20:50] PStokesOmni commented on #180
I just had this happen with collection metadata. on http://abaseer53944.tizrapublisher.com

[2013-03-04 21:32] daviddurand commented on #184
We believe that we've found the underlying issue, in the object/relational data management layer. The problem symptoms were very diverse, and changed radically in response to small changes elsewhere in the publishing process, so that the new symptoms (this issue and #183) came as a result of the fix for issue #182.

We have been testing on a separate system, and will be making the changes live lat

[2013-03-04 21:32] daviddurand commented on #183
The cause of this problem is the same as #184, so closing as a duplicate.

[2013-03-04 21:32] #183 closed, assigned to daviddurand

[2013-03-04 21:38] daviddurand commented on #180
Can you remember the exact sequence of operations that you were performing? Were there any error messages or other hints that something unusual might be happening?

Did you actually see data vanish after an operation, or did you just happen to notice something that may have happened sometime in the last few days or hours?

I see user-defined fields now, so I assume that you already recreated them.

[2013-03-05 13:23] PStokesOmni commented on #180
Sure I had everything set up and ready to go in staging, made the design live and the collection metadata was gone. Yes I have recreated everything as this had to to proof to the customer.

[2013-03-05 14:14] daviddurand commented on #180
So to the best of your memory, the fields may have vanished after work in presentatation manager?

Were you updating design properties, or creating design overrides for particular collections?

Sorry if it seems like all I'm doing is asking questions (that I know are very hard to answer), but this is a very rare problem, and I'm trying to get enough information to replicate it, so that I have a ch

[2013-03-05 14:20] daviddurand commented on #184
I've done some tests (including on ASPPA, last night), and the problem seems to be resolved. Publishing to staging only does not cause content delivery problems, nor does it leave tables of contents inconsistent.

I did not re-upload the 2013 versions of any ASPPA documents, but you should be fine to upload them into the existing publications and publish them to staging for your customer to proof.

[2013-03-05 14:20] #184 closed, assigned to daviddurand

[2013-03-05 15:10] PStokesOmni commented on #180
I had created design over rides, but like I said everything worked great in stagging. then I published Presentation->Library->Save and apply to live
That is when they disappeared.

[2013-03-05 15:16] ghost opened #185 "Status Pending Activation not working correctly"
It is working identical to email verification required.

http://experientenvision2013.conferencespot.org/

[2013-03-05 16:31] ghost opened #186 "Publishing Error on ASPPA site"
http://screencast.com/t/UVIe7rT08F

I have published all the 2012 files to live and I'm currently working on getting all the 2013 files uploaded to staging. The file I was trying to upload was Chapter 5 (Chapter 5, Section 415 Limits) and I got the error in the screen shot above.

I only have 4 files left to get to the staging site.

[2013-03-05 16:36] ghost commented on #186
Error did not show up for Chapter 6.

Trying Chapter 5 again

[2013-03-05 16:37] ghost commented on #186
Chapter 5 got the same error.

[2013-03-05 16:49] ghost commented on #186
Same Error on Chapter 8, Coverage Testing
Same Error on Chapter 9, Nondiscrimination Testing

[2013-03-05 17:02] daviddurand commented on #186
I think that it has to do with the page counts of the updates, and how they compare to the page counts of the existing files. Let me look a little more. Thanks for the extra info, as it will help a lot.

[2013-03-05 17:08] daviddurand commented on #186
Please try adding a blank page to chapter 5 or chapter 9 (as they are only one page shorter than the 2012 versions). If they publish after adding a page, you may be able to proof those two as well, and we can be more sure that it's the count and not the state of the database that is causing the problem.

more news shortly, I hope.

[2013-03-05 17:09] daviddurand commented on #186
Can you tell me from the progress bars how far along the publishing operation seemed to be?

[2013-03-05 17:24] daviddurand commented on #186
At this point I'm seeing different results on the live system and my test system for identical files. The problem on the live system does seem to occur when publishing shorter documents to staging, and not ones with the same number of pages, or more pages as are already published to live.

[2013-03-05 18:26] daviddurand commented on #186
I think I have a workaround, for now.

do a metadata-only publish to staging, and the publish to staging....

I just tested this with chapter 9 and had success.

[2013-03-05 18:29] ghost commented on #186
OK, that seemed to work.

[2013-03-05 18:34] daviddurand commented on #186
We still have to find and fix the cause, but as I can't yet replicate it on my test system (though I can on a test account on the live server), it may be harder to track down than I would like.

[2013-03-05 18:35] ghost commented on #186
Now that I have a way to move forward with proofing, I'm good.
Let me know when you are able to find the problem and get it fixed.

I'll let everyone here know that this issue exists just in case they run into it, but using the staging site like this will be rare for us.

[2013-03-05 18:56] daviddurand commented on #186
It's been rare for all our customers, which is how the problem had escaped us until now.

[2013-03-05 21:28] daviddurand commented on #185
A fix is in place, and will be live tomorrow.

The user interaction was actually sending the message, even though the password was being set and the account activated. Unfortunately the results are delivered as a secure page (because of the password submission), so the user's login cookie was not being properly set for the actual site.

[2013-03-05 21:28] #185 closed, assigned to nobody

[2013-03-06 16:14] daviddurand commented on #186
I have found a fix for this. I tested with a test site on the live server, as well as on the development box, and it's working, so the workaround should no longerbe needed. If you run into trouble in the future with this, please report it, even if this old workaround seems to fix the problem.

[2013-03-06 16:14] #186 closed, assigned to nobody

[2013-03-06 19:56] orangedrink opened #187 "Can't export collections on AI site"
We're using Chrome.

To reproduce go to http://ai.tizrapublisher.com/admin/main and log in. Click on collections, check all of the check boxes and click export. I'm seeing a javascript error

[2013-03-06 20:19] daviddurand commented on #187
This is fixed now.

[2013-03-06 20:19] #187 closed, assigned to daviddurand

[2013-03-07 17:46] ghost opened #188 "Publishing Collection to Staging impacts Live"
I'm trying to publish the title of a collection to staging but continue to get a title change on the live site as well.

Site: http://elibrary.asppa.org/erisa-outline-book/
Collection Name: 2012 ERISA Outline Book
Collection ID: 1v8i8n (66341143)

[2013-03-08 01:23] daviddurand commented on #188
You are correct.

I'm sorry to say that is the way that it's supposed to work. I agree that it would be nice if the Collection name were metadata like the the title of a document is, but like the name of an offer and custom URLs for everything, it's something that changes immediately. If a note to this effect is not in the manual, let me know and we'll get one in place.

If I could make the change

[2013-03-08 01:23] #188 closed, assigned to daviddurand

[2013-03-08 17:52] orangedrink opened #189 "Unable to change email address on amonline.trb.org"
When trying to change my email address on the page:

https://secure.agilepdf.com/edituserdata/23efev/~editUserInfo

After clicking submit changes it reverts back to the original.

Thanks!

[2013-03-08 22:21] orangedrink commented on #132
Anything? This Author index issue is still causing us headaches here.

I'd also like to know if you plan to deliver on the PDF files. We feel like we paid for this and would like to see it delivered.

Thanks.

[2013-03-11 17:54] daviddurand commented on #109
Just looking at this again.

One thing  seems to be worth revisiting:

I think you can do all of this automatically. Make a new tag `staticNav`, and just change the masterblock used for the static export to use the tag `staticNav` rather than `nav`. Every page but the author index will have the `nav` and `staticNav` tags, except for the two author indexes, one of which will be marked `nav` and wil

[2013-03-11 17:57] daviddurand commented on #189
I think this may have to do with the SSO setup. I'm going to investigate.

[2013-03-11 19:37] daviddurand commented on #189
This is fixed, change will be live tomorrow.

[2013-03-11 19:37] #189 closed, assigned to daviddurand

[2013-03-11 22:43] daviddurand commented on #76
I think we've taken a lot of these, and without losing the advantages of a clear design, we've seen some pretty significant redecorations of the browser, Goodheart-Willcox being the best example. For this reason, I'm closing this.

[2013-03-11 22:43] #76 closed, assigned to daviddurand

[2013-03-11 23:40] daviddurand commented on #62
added a class `t-arrow-caret` to these

[2013-03-11 23:40] #62 closed, assigned to daviddurand

[2013-03-11 23:42] #70 closed, assigned to daviddurand

[2013-03-12 13:07] ghost commented on #70
Is this closed because there is now a way to use macros with properties, or are you just cleaning this up and leaving it the way it is. Only trying to figure out if I can change our documentation on macros.

[2013-03-12 13:15] ghost commented on #62
Hi David,
Something is off with this markup. I went to look at it this morning on a couple sites and the href isn't showing correctly.
Here is a screen shot. http://screencast.com/t/AjJGEZOs1F

I can't seem to figure out what is causing this problem in the markup, but my guess would be that some markup before the href isn't closed correctly.

[2013-03-12 14:02] orangedrink commented on #174
You said you would fix this. I'm still getting reports of papers on this list that are not set correctly.

[2013-03-12 14:32] orangedrink opened #190 "Tagged static pages not appearing on AMIA"
Some of the 2012 conferences have layout overrides with list blocks that are set up to list frontal materials which are stored as static pages. As far as I can tell the list blocks are set up correctly and the pages are tagged with the correct tag but these frontal list block don't show any content.

See here for an example.
http://proceedings.amia.org/CN2012-nav/

the collection in this example i

[2013-03-12 15:38] orangedrink opened #191 "Unable to add new properties to a user on omniplatyground"
To reproduce log in to the admin area of omniplayground and try to add a new property to a user.

You can see the trouble I'm having at this link:
http://screencast.com/t/pVvGPcEzArd

[2013-03-12 18:39] daviddurand commented on #190
It's a problem in the admin tag filtering. Tag filtering for tags that contain a hyphen `-` are being escaped to prevent potential parsing errors (this is a change that was related to removing ways that end-users could create search errors by searching for strings that are significant to Lucene).

If you need a short-term workaround, you can create collections for the lists and use those. A fix wi

[2013-03-12 18:45] orangedrink commented on #190
OK thank you

[2013-03-12 19:02] orangedrink commented on #109
That does help. It's enough work that we would probably only do this if the customer was very sensitive but good to have that option.

If you were able to fix the bug described in 132 we could definitely stop using these manual overrides on most sites and probably on all sites that have a static export. That would definitely be helpful.

Thanks!

[2013-03-12 19:38] daviddurand commented on #190
I gave  a stupid workaround. If you use tags without hyphens, it will work just as you had the setup, with filtering and all.

That is probably your best bet.

[2013-03-12 20:45] daviddurand commented on #191
This is fixed now. Thanks for the report.

[2013-03-12 20:45] #191 closed, assigned to daviddurand

[2013-03-12 22:21] daviddurand commented on #62
There was a missing quote, now no longer missing.

[2013-03-12 23:18] daviddurand commented on #174
I've fixed the remainder, and checked the rest to the best of my ability -- assuming that TOC is only needed when there is no PDF available.

[2013-03-13 13:44] orangedrink commented on #190
As long as it's working now. Thank you.

[2013-03-13 14:08] daviddurand commented on #190
Yes, we are good now. Thanks for the report.

[2013-03-13 14:08] #190 closed, assigned to daviddurand

[2013-03-13 14:09] #174 closed, assigned to nobody

[2013-03-13 22:11] orangedrink opened #192 "Having trouble with referrer authentication"
I'm using a firefox referrer addon to test this. It's possible that the problem is with my testing. Is there a way to make sure this works before sending to the customer?

See the linked video for a demonstration http://screencast.com/t/mwmGL4pyBXr

Thank you

[2013-03-13 22:13] orangedrink commented on #192
I think it's probably worth pointing out that I don't have a field for SSO token on my advanced site properties page as outlined in the documentation I'm using.

[2013-03-13 22:16] adane commented on #192
My fault.  I just hadn't set it up properly.  You should be all set now.

[2013-03-13 22:16] #192 closed, assigned to nobody

[2013-03-13 22:36] orangedrink commented on #192
Ok thanks

[2013-03-15 13:54] ghost opened #193 "Truncated Bookmarks"
Long bookmarks in PDFs are being truncated.

[2013-03-15 14:05] ghost commented on #193
I tried to add the missing text into the table of contents for the file.
When trying to save the changes, the system freezes for a couple minutes.
After the freezing has completed, I try to publish the changes, but nothing changes.

I need the full bookmark text in all of the bookmarks but the system is not allowing me to do it.

[2013-03-15 15:50] aabercrombie opened #194 "Transaction failed error message when trying to purchase offer"
I get this error message when trying to make a purchase on aga53756.tizrapublisher.com. We're not sure what it means. We know the card is working and the information was entered correctly.

Transaction Failed
Your purchase was not successful. Your card may have been declined, or you may have entered the information incorrectly. The error message is:

Security header is not valid

[2013-03-15 16:08] daviddurand commented on #193
The database schema has a limit of 25 (normal database limits). I have changed this to an unlimited length, reopen if this does not solve your problem.

[2013-03-15 16:08] #193 closed, assigned to daviddurand

[2013-03-15 16:34] daviddurand commented on #194
This means that the API credentials for paypal are not correct.

This can happen if you are try to use the paypal fulfiller on the testing site against paypal on the staging site, or if you are configuring a customer paypal account and the credential is not correct.

[2013-03-18 13:11] PStokesOmni opened #195 "Error when replacing paper"
I am trying to replace an existing paper on http://sar53627.tizrapublisher.com

When publishing to staging and live I get this error.

When publishing the same PDF to staging I get this error.

[2013-03-18 13:13] PStokesOmni commented on #195
I redistilled the PDF and now get a new error:

[2013-03-18 18:41] adane commented on #195
Thanks for the report, Paul.  We're looking into this now.

[2013-03-18 19:25] daviddurand commented on #195
It turned out that there were intermittent, but escalating problems on the temporary files disk drive. This was leading a variety of issues in various areas of the system. We've now got a replacement online and operations are back to normal.

[2013-03-18 19:25] #195 closed, assigned to daviddurand

[2013-03-19 15:16] #194 closed, assigned to daviddurand

[2013-03-19 15:18] aabercrombie opened #196 "Unable to upload PDFs to TRB site"
Tried to create a new document by uploading a PDF three times this morning, each time got this message.

"Error: We're sorry, we were unable to process your file. Tizra Publisher only accepts PDF documents at present, so please verify that's what you tried to upload. If you continue to have problems, please contact <a href="mailto:publisher-support@tizra.com">publisher-support@tizra.com</a>."

[2013-03-19 16:31] daviddurand commented on #196
Pdf files are working in general, I just checked. The likelihood is that there is something wrong with the PDF file. First make sure that you can open it with acrobat. If you can open it without errors in acrobat, then we'll need to look at it, so email it, or let me know where it can be downloaded.

Because of the PDF processing problem, the file was not saved properly on the system, so I can't c

[2013-03-19 18:00] aabercrombie commented on #196
The PDF is working now. Must have been a temporary glitch.

[2013-03-19 20:35] daviddurand commented on #196
Perhaps there was an upload error and the file was corrupted. I've certainly never seen this message when the file contents was valid. In any case, glad it's working properly.

[2013-03-19 20:35] #196 closed, assigned to daviddurand

[2013-03-20 14:06] ghost opened #197 "IE7 and IE8 have link display problems on page images"
http://screencast.com/t/pomvu5EVUghK

http://screencast.com/t/8kwRruyEI

My contact at ASPPA informed me that links were not showing up in Safari and IE8. I started by checking Safari and noticed a couple things.

In safari you don't allow a PDF to show. The only option is an image. Because you only allow an image we need the cross linking of ASPPA's site to work correctly. If you look at the firs

[2013-03-20 14:53] daviddurand commented on #197
This is caused by the PDF -- and is quite rare, as the link scaling has been done the same way for months now. My guess is that the crop box for the PDF is different from the media box, and/or the trim box, and that is causing the problem.

[2013-03-20 15:22] ghost commented on #197
I checked the PDF and it looks like all of the "boxes" are the same dimensions. 7.25x10

I'll try to get you a sample of chapter 1a

[2013-03-20 15:37] daviddurand commented on #197
I just opened it, and the "media box" is 8.5"x11"  -- something that my version of Acrobat only shows when I inspect the internals of the PDF with the Preflight tool.

Interestingly when I look at the "Set Page Boxes" tool, it shows two rectangles, but _says_ that they are the same dimensions.

Looking at the internals of the PDF, you get MediaBox 8.5"x11", and all the others are 7.25"x10".

Sorry

[2013-03-20 15:41] ghost commented on #197
I actually was just working on reprinting the file as 7.25x10 to see if that fixed the issue.
I noticed the the odd rectangle within our crop tools too and it looks like we have both come to the same conclusion that reprinting/reprocessing them at the preferred page size might work. Only issue is that all of the bookmarks and links get taken out when I reprint. Not a gigantic problem because I hav

[2013-03-20 16:57] daviddurand commented on #197
I was able to remove all the cropping boxes (by setting margins to zero everywhere in Acrobat). The pages come out larger because they include the margin, but the links line up properly. The extra margin does not look bad in the new reader, but will probably look funny in your custom page design. But it's a fallback option, anyway.

I also noticed that the links are URL links to pages on the web s

[2013-03-20 17:08] ghost commented on #197
All those links are manually added to the pdfs.
I can't use your new reader for ASPPA because they are already pissed that copying text out is clunky and doesn't keep formatting. Since the extracted text doesn't keep any formatting at all it would only further irritate them if we switched to your new reader.
Since I have to use the original reader I have to crop the margins because we received com

[2013-03-20 17:26] ghost commented on #197
Is there any way that you can use the crop box rather than the media box for your images?

[2013-03-20 17:28] daviddurand commented on #197
That all makes sense to me -- that's why I thought that it's at best a fallback in case you get stuck and need to get _something_ live quickly. If the PDF conversion takes too much time, it might even make sense to re-work the reading layout so that the margins don't shrink the text so much.

I will investigate if I can make the current document links work properly without breaking the thousands o

[2013-03-20 17:46] daviddurand commented on #197
As to the crop and media box question, the images are generated by a package that we use, and the problem is not the image that is generated (you were able to get the right image), but making sure that we are calculating the right scaling factors and margin offsets, when the page size varies in this way. Since there is built-in logic in the rendering package that we use, we have to match that logi

[2013-03-20 17:48] ghost commented on #197
I'm testing out exporting the links and then importing them into a reprinted file at the correct size. I think I can shift the location of the link consistently and get them to land at the right spot, but it will take a while to test.

[2013-03-20 18:19] ghost commented on #197
OK, I think reprinting everything to 7.25x10 and then importing all the links and bookmarks will work. My test of Chapter 1A worked well and now all the links are in the correct place for chrome and Safari.

[2013-03-20 18:31] daviddurand commented on #197
great. I'll close this once I can figure out either how to fix the wordperfect-created pdf files, or determine that it can't be fixed and keep the rest of the more common pdfs working.

[2013-03-20 21:58] ghost commented on #197
So, I have all the files updated and it is now working correctly in Safari and Chrome.

When I checked it in IE9 it didn't work. The links do not appear at all even though they are in the markup.

Do you have an example of a site that you have this setup for one of your customers so I can look through the css and see if there is something that I'm doing that you are not?

[2013-03-21 13:43] ghost commented on #197
I checked this in IE8 and IE7 and they all seem to function the same way.
The links show up in the markup, but don't work in the UI.

[2013-03-21 14:32] daviddurand commented on #197
Try this test document:
http://david.hub.agilepdf.com/2uqujp/7

I'm accessing it with IE9 without trouble, and in IE8 mode in IE9 without trouble.

I did see some trouble with IE7 mode -- which is a little behind the curve, but should probably work, and I have a fix that I can make live within an hour.

I don't know if I'll have to downgrade IE to test the old versions, but let me know what you ar

[2013-03-21 15:41] ghost commented on #197
It works correctly in the new reader, it doesn't work correctly in the old reader.

I'm going to see what I can figure out with the css.

[2013-03-21 15:57] daviddurand commented on #197
I've been looking at it, and it seems that IE7 wants actual text in order for the link to be active. I put a nonbreaking space in, and that works, but it's very narrow -- you have to mouse over the very left of the link.

I also saw that the old reader was not getting a required background to make the link active in IE8 -- fix not yet live, but coming. The only problem I can't yet solve is IE7. It

[2013-03-21 16:35] daviddurand commented on #197
You may have to refresh your cache, but the new stylesheets are now in place, and it should be working with IE7-IE9 in the old view.

I'm still dealing with IE7 links for the new reader. IE7 and earlier have a unique interpretation of z-index, that makes it useless unless you do backflips.... what a surprise.

[2013-03-21 17:50] ghost commented on #197
I see your fix in place. I'm getting some weird IE behavior when I don't have the document mode and browser mode on the same version of IE. There may not be anything that can be done about it.

Thanks for digging into this, I keep getting other things that I need to fix or look at and haven't had time this morning to dig into  the css the way I wanted to.

[2013-03-21 20:08] orangedrink opened #198 "Any Changes made to attachments recently?"
We have some links to attachments (on documents) on the AI site that have stopped working today. Have you made any changes that would explain that?

Here's an example of a link that was working until recently

http://knowledgecenter.appraisalinstitute.org/content/stream/822-spreadsheets/cms?sourceFileOrder=0&sourceId=Attachments

[2013-03-21 20:29] daviddurand commented on #198
I'm sorry about this, but those are not links that should have been used. Links of that form were used internally to the admin interface to download the content management version of an attachment….

If you want to let a user access an attachment use the standard form of link. The standard links are shown in the Admin interface right under the attachment:

![admin interface snap](https://f.cloud.g

[2013-03-21 20:29] #198 closed, assigned to nobody

[2013-03-21 21:33] daviddurand commented on #197
The current fixes seem to work reliably, at least in IE9 in IE7 and IE8 mode. You may have to aggressively flush caches to see the current versions.

The new reader uses layers to put links on top of the next/previous page links. This can't be made to work in IE7, and until we totally drop IE7, we are using a CSS hack that makes the page navigation links smaller in IE7 and below  (10% of total win

[2013-03-21 21:33] #197 closed, assigned to daviddurand

[2013-03-21 21:38] orangedrink commented on #198
Neve rmind that last comment. this was something we has set up after all.

[2013-03-25 18:56] adane opened #199 "Copyright Line generated by New Reader Print Page Option may not be appropriate"
Printable pages generated via the single page printing feature accessible via the sidebar button on the new reader include a copyright footer indicating that the site owner is the copyright holder, which is sometimes not correct.

There should probably be an option to turn off the watermark or customize it.

![2013-03-25 02 52 36 pm-3](https://f.cloud.github.com/assets/1355614/299529/51fe7c46-957d

[2013-03-26 14:31] orangedrink opened #200 "Page counts not being reported for AI"
In the admin panel on the site http://ai.tizrapublisher.com/ I click on my account and see

http://screencast.com/t/iI6IxezXY

With 0 pages being reported. Let me know if you have any questions.

[2013-03-26 18:03] daviddurand commented on #200
Thanks... The bad news is this won't be fixed before tomorrow. The good news is that you won't run into any page limits as a consequence, and that we already have a fix for the problem.

[2013-03-27 20:28] daviddurand commented on #200
This is fixed. I notice, however that the DNS mapping for `http://knowledgecenter.appraisalinstitute.org/` does not appear to be working....

[2013-03-27 20:28] #200 closed, assigned to nobody

[2013-03-28 15:23] orangedrink commented on #200
Thanks David. That url is working for me now.

[2013-03-29 15:14] daviddurand opened #201 "Print page formatting in Tizra reader"
The print icon activates the browser print dialog, but the page image is formatted as it is in the browser, making the user responsible for magnifying the page until it is at a good printable size, without any clear feedback as to how large that may be (something that depends on the document size in any case).

The page markup will be enhanced so that the image is scaled to fill an 8.5x11 printed

[2013-04-03 15:33] cbwinchild opened #202 "Excerpts disappearing from Collections after republishing the excerpt's parent Document"
If I have a Document with excerpts and the excerpts are contained within a collection and then I REpublish the Document, the excerpts disappear from teh Collection. The workaround is to republish the excerpts, and then they become visible again.

[2013-04-03 15:53] GWPublisher opened #203 "User tags missing"
When setting up accounts the user tags are no longer being automatically populated for easy selection. We must always type the tag name. This only seems to be happening in the user section, the documents section does show tags.

[2013-04-03 17:41] daviddurand commented on #203
This seems to have been a stale search index. I've refreshed it, and things are back to normal.

[2013-04-03 17:41] #203 closed, assigned to daviddurand

[2013-04-03 20:24] #202 closed, assigned to daviddurand

[2013-04-03 20:26] daviddurand commented on #202
updated code will go live tonight.

[2013-04-04 16:43] PStokesOmni opened #204 "Error when unpublishing"
on the site s92834083.tizrapublisher.com I get the error below when trying to unpublish papers

Request failed. Error sent back: >>

<msg>

[code]

org.hibernate.ObjectDeletedException: deleted object would be re-saved by cascade (remove deleted object from associations): [com.cubchicken.cms.model.MetaSource#114947394]            </p>
            <p class="t-error">operationErrorMessage:
Rolled ba

[2013-04-04 16:51] #179 closed, assigned to daviddurand

[2013-04-04 18:52] daviddurand commented on #204
There was an issue that should be resolved now.

[2013-04-04 18:52] #204 closed, assigned to daviddurand

[2013-04-04 19:10] GWPublisher opened #205 "CSS validation"
We are trying to validate our css and we have one minor correction that we cannot fix ourselves.  It is located under (sitename)/packages/nsftools_datepicker/1.5x/styles.css.  The .dpDayHighlight class is giving and error for the color tag, I believe it just needs a #pound sign in front of the color.  Could you please fix this?

[2013-04-04 19:53] #205 closed, assigned to nobody

[2013-04-05 14:30] orangedrink opened #206 "Index missing metadata on static export"
We're trying to do a static export of http://knowledgecenter.siam.org/

On the site our index looks like this:
http://screencast.com/t/DjxD0XYalW

But when we do a static export we get:
http://screencast.com/t/1OmBUTH3W

We're having the same problem with the author index.

[2013-04-05 14:31] orangedrink commented on #206
This was supposed to proof today so anything you can do to get to it ASAP is appreciated.

Thanks!

[2013-04-05 16:43] daviddurand commented on #206
have been working this all morning. hope to have a fix soon.

[2013-04-05 18:24] #206 closed, assigned to daviddurand

[2013-04-05 18:25] daviddurand commented on #206
This is live, and seems to be exporting the SIAM site correctly, so you should be good to go.

[2013-04-05 20:18] orangedrink commented on #206
Thank you

[2013-04-05 20:30] orangedrink opened #207 "List blocks producing links to staging site"
View this site and look at the link to the spine collection
http://bpr2013.conferencespot.org/toc/

It's linking to the staging site

Thank you

[2013-04-05 20:31] orangedrink commented on #207
Never mind. Paul built those links manually.

[2013-04-05 20:34] #207 closed, assigned to nobody

[2013-04-08 11:37] PStokesOmni opened #208 "Cannot make changes to titles and metadata"
On this site: s117331960.tizrapublisher.com
When I make a change to the title and publish in any fashion the changes are not being save and the old title remains.

[2013-04-08 12:49] adane commented on #208
Looking into it now.

[2013-04-08 13:27] daviddurand commented on #208
Thanks for the report. We had a misapplied change over the weekend.

[2013-04-08 13:27] #208 closed, assigned to daviddurand

[2013-04-09 13:03] PStokesOmni opened #209 "Static Export"
I am doing a static export on site s117340545.tizrapublisher.com
I am finding that the ePosters index in the export is not in the same order as the site, everything needs to be in the same order.
Please advise.
-Paul

[2013-04-09 15:04] daviddurand commented on #209
This is a duplicate of #177, which somehow got away from us. We'll start on fixing this. I'm closing this issue, and will follow up on the old issue -- which keep the history clear from first report to final fix.

[2013-04-09 15:04] #209 closed, assigned to daviddurand

[2013-04-09 18:11] orangedrink opened #210 "Users reporting log in problems. Screen grab attached"
Hi David. It seems there are some issues for users logging in to http://aaos54273.tizrapublisher.com

I got this message today:

This is a site where we are using the simple "Bulk creation (form entry)" method of creating accounts. To test this I created an account for myself using this same form and the tag "participant". I immediately clicked the link sent to my email and saw this error message:

[2013-04-09 19:04] daviddurand commented on #210
The cookie/session problem must be a cookie or session issue. Maybe you were logged in as an admin in the browser, or the link is being bounced from one handler to another (Windows sometimes does this, at least when Office is involved).

I was able to create an account manually and with the simple loader and had no troubles activating it as I was supposed to.

Could you have had multiple loads goi

[2013-04-09 20:21] aabercrombie opened #211 "Getting various errors when uploading files"
Trying to update files on s114630228.tizrapublisher.com (ACMA). Have been getting a series of errors ranging from a 404 error to an 'unknown Tizra error' to a couple different versions of a Tizra pop up box error.

[2013-04-09 21:01] daviddurand commented on #211
There's not enough information to help me on this, but by picking through some of the error messages, I See a bunch of failed attempts to upload and publish a file(that ACMA board of directors, etc), in one operation. They were specifying the custom URL ID "7B-Presentation1" ,  -- and there was more than one such document. Since that is supposed to be unique, this was creating problems.

I've adde

[2013-04-09 21:01] #211 closed, assigned to daviddurand

[2013-04-09 21:36] aabercrombie commented on #211
So that seemed to work, but now we're getting another set of errors. We created a new document, entered all the information, and tried to upload a file. When we hit upload, it gave the 'unknown Tizra error, please contact us' link again. I hit refresh, mostly just to see what would happen, and got back to the document page where it looked like the file was now uploaded. However, when I hit save, I

[2013-04-09 21:53] daviddurand commented on #211
I saw the error in the logs, and came here in order to post an update -- then I saw your post. The problem on this page is a duplicate Custom url again. That's why it says ConstraintViolationException. Why don't you do the uploads without the custom urls, and try entering them afterwards, since the old loads have left various duplicates around, and the error is then leaving you with a messed up do

[2013-04-09 21:55] daviddurand commented on #211
It's hard to tell, but I don't see any errors that are not caused by duplicate custom URLs in the logs for the last hour or so....

[2013-04-10 12:49] adane commented on #141
I think this was fixed quite a while ago.

[2013-04-10 12:49] #141 closed, assigned to daviddurand

[2013-04-10 13:32] orangedrink commented on #210
Thanks David. We'll work on getting more details around this.

[2013-04-10 13:40] aabercrombie commented on #211
It was the duplicate URLs again. The system wasn't showing the new documents in Firefox for a while, so I thought they weren't taking. When I switched to Chrome, the 6 or 7 documents suddenly showed up. When we got those back down to one document and deleted the rest, we were then good to go.

[2013-04-10 14:42] daviddurand commented on #210
I made a test group with the predicate NOT: faculty;participant

It's a short list:

[code]

 are two staff accounts, and one other shows up which has the tag `particpant`. Perhaps that is the last of a few accounts loaded with the wrong tags?

We should also see if there is any correlation between the tags that should have been on the accounts that are showing problems...

[2013-04-10 14:59] #177 closed, assigned to daviddurand

[2013-04-10 15:49] koldenburg commented on #210
Hi David,

I was able to track down a couple of the user emails which had the problem this morning.  Sure enough, one of the emails the customer gave me is `domiyi@....`, which was identified in your test group.

Another email to look into is: `pmkkane@...`.

Please let me know if you should find anything.
Thank you,
Kai

[2013-04-10 16:42] daviddurand commented on #210
The account is configured properly now, of course, so I don't know what the tags may have been before the owner called and you fixed things.

Looking for `pmkkane@...` in the logs, I see that the account was activated at 1PM yesterday. There were no errors in activation, and the account logged in a bunch of times after that.

I don't see a pattern of cookie problems, either.

Given the state that

[2013-04-11 14:20] koldenburg commented on #210
I logged in this morning to the AAOS site and discovered a new user account where the tag of "Participants" was dropped off.  I have not added the participants tag back in yet in hopes you might be able to see what is going on.
- I noticed the account now has a user set of "Missing tags".
- The account is for a Jose Toro (jbtoromd@gmail.com)

[2013-04-11 15:21] daviddurand commented on #210
Thanks, I found a bug that is resetting tags when they update their passwords. Fix will be coming. You can reset the tags on anyone that has the problem until we have the fix in place.

[2013-04-11 16:12] koldenburg commented on #210
Thank you for the update David.  Let me know when the fix is in place.
-Kai

---

Thanks, I found a bug that is resetting tags when they update their passwords.
Fix will be coming. You can reset the tags on anyone that has the problem until
we have the fix in place.
—
Reply to this email directly or view it on GitHub. <

Kai Oldenburg
Project Manager
- My Bio/Pics
- Looking for helpful tips? Subsc

[2013-04-11 16:27] #210 closed, assigned to daviddurand

[2013-04-11 16:44] orangedrink commented on #210
Thanks David.

Is That fix coming soon or would it be a good idea for us to disable changing passwords for the moment?

Is this currently affecting all of our sites?

[2013-04-11 18:24] daviddurand commented on #210
The fix is already in place, so no more accounts will be affected. I am going to see what I can do about finding affected accounts. It did not seem to happen on every account claim (since most folks did not have the problem), just ones where people later went to the update form to reset their password after the initial claim.

It may not feasible be able to get complete information anyway, as we d

[2013-04-12 21:18] adane opened #212 "Staging Cart Switches to Live when Buy Now is clicked"
When testing checkout flows in the staging site, the user is switched to the live site and design when the "buy now" button is clicked in the cart.

To reproduce...

1) While logged into staging as an Admin user, add an offer to the shopping cart.

2) Click the Buy Now button in the cart.

3) You'll arrive at the first checkout page, but will be in the live site with the live design.

The problem

[2013-04-12 21:50] daviddurand commented on #212
The testing area works properly, and is where e-commerce testing should take place.

I'll look into the staging area, just because it could be confusing.

[2013-04-12 21:50] #212 closed, assigned to daviddurand

[2013-04-15 14:40] PStokesOmni opened #213 "Error when entering a new domain name"
I have checked the DNS and is setup right, but when I enter the domain to site: s115657167.tizrapublisher.com I get the following error.

Error encountered

hostNameCreateErrorCode: 3

newHostName: ialdawards2013.conferencespot.org

on operation editObject

[2013-04-15 15:59] daviddurand commented on #213
This seems to be either a problem configuring, or server update delay. DNS propagation delay does not seem to be a problem (yet), since the authoritative server (as given in the SOA record for conferencespot.org) does not seem to have a lookup for that name as yet. Because we sanity check non-Tizra URLs, the server must actually be able to lookup the name before we will allow the update. Not all D

[2013-04-15 17:12] daviddurand commented on #213
The name is showing up, so you should be good now:

[code]

[2013-04-15 17:12] #213 closed, assigned to daviddurand

[2013-04-18 21:27] GWPublisher opened #214 "New reader page count"
Can you add a css class for the “(of XXX)” part in the new reader's title?  We would like to hide it due to the logical page numbers.  Thanks.

[2013-04-18 22:02] daviddurand opened #215 "add control to turn all watermarking on and off"
We have always added watermarks to Excerpts generated by Tizra, but previous to implementing custom watermarking, were unable to watermark source file downloads. We now watermark everywhere (which fits with the rest of the system), but not everyone wants watermarks and some of these customers were using source file downloads only.

This feature will add a global setting to the access control part

[2013-04-19 17:36] adane opened #216 "Add Special Macro Template field to User Account Licenses block?"
This would be helpful in customizing content listings on "My Bookshelf" pages.  Alternately, if it's easier, it might be just as good or better to to make it possible for the List Block to display only those items a user has licenses for.

[2013-04-19 20:49] #215 closed, assigned to daviddurand

[2013-04-19 21:36] daviddurand commented on #199
This message can be turned off if a site disables watermarking, using the new feature implemented as a result of #215. Will go live this weekend.

[2013-04-19 21:36] #199 closed, assigned to daviddurand

[2013-04-20 14:38] adane opened #217 "Error on Saving Contact Form Settings"
After changing Contact Form settings (to turn off the CAPCHA) in the Admin for the Dibble site, I get the the following error when clicking Save...

Error
Exception: java.lang.NullPointerException: null
Operation Result: Hibernate error: rolled back transaction
on operation editObject

![2013-04-20 10 31 18 am](https://f.cloud.github.com/assets/1355614/405275/ea593c70-a9c7-11e2-81cf-af3c57351446.p

[2013-04-22 16:55] Kuhrt opened #218 "User information"
We have a school district that was wondering if their teachers are actually using our curriculum. They were wanting to see if we could tell if they were logging in or not. Is there a way that we can see this information? I looked under reporting and got a detailed report for "User Activity" but it just shows what's been done on the admin side, like creating new users and such. If there's a way to

[2013-04-22 17:01] GWPublisher opened #219 "Access Key Code (Redemption Codes)"
We have a few issues with a customization that we had.  We are starting to get calls on 2 separate issues with the Access Key Code (Redemption Codes) customization.  The first is users still see the offers when they are on the TOC page before they enter their textbook.  The second issue is that in the Purchase History, nothing shows up after the keycode is entered.

[2013-04-22 17:58] PStokesOmni opened #220 "Metadata on Indexes on Export are in a different order than site"
s117335400.tizrapublisher.com
The meta data fields are there, but not in the same order as the site.

[2013-04-22 20:01] daviddurand commented on #220
This seems to be a CSS issue, where your site design is depending on some compatibility markup for the design. It looks like you are using the "t-old" classes and elements in your static export design -- and your  live site design. These are slated to be phased out at some point, and have never been part of static export. The default Tizra designs have some standard page header markup that suppres

[2013-04-22 21:14] daviddurand commented on #218
The "detailed" download stats give a report on file downloads (which does not include individual page views). The logs have not been used very much, and are still pretty rudimentary. They are really still very much a first implementation that has not been revisited because people haven't been asking about it, but I it does not have to stay that way.

One reason that this has been this way is that

[2013-04-23 13:17] Kuhrt commented on #218
Yeah, I think what I could pull off of GA will be fine with the location details it has. Just wanted to make sure I wasn't missing something that could give me info per account. Thanks!

[2013-04-23 13:17] #218 closed, assigned to adane

[2013-04-23 14:11] ghost opened #221 "Using double quotes in search..."
I don't know if this is a bug or not, but couldn't think of anywhere else to put it.
I will be using the ASPPA site as an example. elibrary.asppa.org
1. When searching with double quotes around a line of text, we were under the impression that the search will look for an exact phrase. Is this true?
2. If this is true, can you help figure out why it doesn't seem to work properly for most cases? For

[2013-04-23 14:57] daviddurand commented on #221
I'll have to investigate, but this seems like a bug in lucene's stop-word handling.

If you search for other quoted strings you do get the results you would expect: for instance a search on `corrective repayment would` will return the expected results.

Words like`of` and `the` are not indexed (they are so-called stop words). In a typical inverted search index, they will make up something like 30%

[2013-04-23 14:59] ghost commented on #221
Sounds good, thank you for looking into this and explaining what is going on.

[2013-04-24 03:00] #117 closed, assigned to daviddurand

[2013-04-24 04:26] daviddurand commented on #214
The classes and markup  that were in the old reader are now in place in the new reader, so you should be able to use the same CSS.

[2013-04-24 04:26] #214 closed, assigned to daviddurand

[2013-04-24 12:32] PStokesOmni opened #222 "SDE s48820882.tizrapublisher.com Uploading issues"
Every time I try to upload a new paper I get and unknown tizra error.

I delete the existing paper, publish staging live, upload a new paper and then the error happens.

[2013-04-24 12:54] adane commented on #222
Sorry, Paul.  Should be fixed now.  Please let us know if you continue to see problems.

[2013-04-24 12:54] #222 closed, assigned to nobody

[2013-04-24 16:57] cbwinchild opened #223 "Sort Value on Document source files not working"
Load multiple PDFs into a single document (either from cog icon > create new > document OR right from the Document Properties screen).
Add Sort Values.
Click Save or Publish.
Sort Values disappear from field and no change is made to how the PDFs sort.
Go into the TOC, rearrange the entries (up/down) to create correct order.
Click Save.
Entries revert back to original order.
NOTE: PDFs being loaded

[2013-04-24 23:56] #219 closed, assigned to daviddurand

[2013-04-25 14:40] GWPublisher commented on #219
This is working great!  One minor thing, in the purchase history, can the title of the batch name be replaced by the offer on the account set?  If not, we will need to replace our batch names.

[2013-04-25 14:58] GWPublisher opened #224 "New reader page search"
We are having an issue with our page count search button on the new reader.  Whenever it is clicked when it is empty or the page number is out of range, it gives a Tizra error.

[2013-04-25 15:25] GWPublisher commented on #214
Can we add the word page before the number?  I thought that was already there.

[2013-04-25 17:28] #224 closed, assigned to daviddurand

[2013-04-25 17:29] daviddurand commented on #224
change will be live tomorrow.

[2013-04-26 19:24] daviddurand commented on #219
The problem is that in principle adding a tag to a user could grant membership to more than one set (and they could have multiple licenses) -- it could even remove someone from a user set (via a "not" match).

Account sets do include a blurb that shows up in the bookshelf/license list. I was thinking that I might include a list of groups that match just the tags set by a code. Would that do?

[2013-04-29 13:05] adane opened #225 "Sorting of Offers in Contextual Offer List is broken"
In Contextual Offer Lists placed on Access Denied and Document ToC pages do not sort as specified in the block.

When you select sort by tag from the dropdown, the following error is shown to the end user...

?sort_by(...) failed at sequence index 0: The "AdminTags" subvariable was not found.

Sorting by name seems to have no effect.

Sorting by price seems to have some effect, but switching betwe

[2013-04-29 14:49] adane opened #226 "User Account Tag Picker Doesn't List Available Tags"
After new tags are created and saved in one user account, those tags do not appear in the tag picker screen for other accounts within the same site.  See attached.

![Screenshot 4:29:13 10:44 AM](https://f.cloud.github.com/assets/1355614/439065/977b48ca-b0db-11e2-8372-27f188e973c0.png)

[2013-04-29 17:01] daviddurand commented on #223
This is working now. There's a bit of conflict between the outline editor (which lets you move files around), and the sort fields. The bookmark editor shows things in order (even if there were sort values), but after you save from the bookmark editor the sort values vanish, and the order is as selected in bookmark editing. This seems like a sensible compromise.

[2013-04-29 17:01] #223 closed, assigned to daviddurand

[2013-04-29 17:02] #220 closed, assigned to daviddurand

[2013-05-01 14:20] GWPublisher opened #227 "Export of Commerce Data bug"
We are getting a Tizra error when we are clicking the Export of Commerce Data button under Tizra Publisher Reporting.  We are not able to download anything.

[2013-05-02 16:35] daviddurand commented on #227
This was an issue with the new commerce logging for redemptions -- For right now I've updated the records so that the export will work, and we'll adjust the logging so future redemption records won't cause further problems. Will close this issue once the code fix is live. With the data fix in place you should be able to export the logs.

There is also something weird happening with the filename on

[2013-05-03 16:32] cbwinchild opened #228 "Different PDF page sizes result in misaligned links in content viewer"
If page sizes within the PDF vary, then links in the PDF will be misaligned when viewed in the online content reader.

Workaround is to make sure all pages within a PDF are the same size AND to make sure if a TrimBox and CropBox are present, that they are also the same size.

[2013-05-06 17:15] cbwinchild opened #229 "PDF import is truncating Author lists extracted from PDF metadata"
If I add 2 author names to the Author field in the PDF (File > Properties) using the lastname1, firstname1; lastname2, firstname2 format, only one author name is imported into into Tizra upon upload.

Workaround is to edit the Document's Author field after upload.

[2013-05-07 15:12] orangedrink opened #230 "Problems editing an account in SDE"
When I try to bring up this account in the back end

wildwildes@yahoo.com

The page never loads (I do see the loading graphic but it never goes away)

Let me know if you have any questions.

[2013-05-07 15:39] orangedrink opened #231 "Maxlogins has a date picker?"
I'm trying to trouble shoot issues with the account for bob.eastwood@nrservices.com on elibrary.asppa.org and I'm wondering if he's running into a concurrency issue.

I'd like to try upping the limit on maxusers but I cant make sensible edits to this field other than choosing a date.

Here's a video in case you don't understand what I'm saying.
http://screencast.com/t/SIi8c3dxv

[2013-05-07 17:01] daviddurand commented on #230
Thanks for letting us know about this. The account had logged in today at some point, but there had been a database deadlock. This has never happened to us before, but it's a known Postgres behavior, and once I cleared the stuck transaction, everything was good.

Thanks for the report.

[2013-05-07 17:01] #230 closed, assigned to daviddurand

[2013-05-07 17:25] orangedrink commented on #231
Derp. It looks like this is configurable by us. I bet one of ASPPA's staff changed it accidentally.

[2013-05-07 17:25] #231 closed, assigned to nobody

[2013-05-07 17:27] daviddurand commented on #231
I see you closed this as I typed.

maxLogins is just a metadata field on the User record. Not sure why it is there, or why it's defined as a date. It's under your control. It might have been created as part of user data import in order to construct a tag name.

If you want to limit concurrent accesses, you limit the license under which someone is using a resource. An account can be logged in an un

[2013-05-07 17:35] daviddurand commented on #180
closing, as no progress or replication, in addition to many system changes since the initial report.

[2013-05-08 02:37] adane opened #232 "Error on republishing document after editing bookmarks"
The attached error message occurs when republishing after a new ToC entry is added via the ToC editor to this document...

http://wfu.tizrapublisher.com/after-the-blight/

I have only been able to reproduce the error within this particular Document.  The same steps seem to work fine with the same PDF loaded into another site, or with the same PDF loaded into a different Document in the same site.

[2013-05-08 13:41] adane commented on #201
On Chrome and Safari for Mac at least, some pages print onto two pages.  For example...

http://digital.oempress.com/The_Medical_Review_Officers_Manual_4th_Edition1/15

http://demo.tizra.com/an_inquiry_into_the_culture_practices_and_ethics_of_the_press/24

In addition, note that, on the first URL at least, the watermark overlaps a rule at the bottom of the page.  The customer is interested in a fe

[2013-05-08 16:07] ghost opened #233 "t-old is appearing on new and old sites"
I was under the impression that we had removed t-old from our sites, but our new sites no longer have the option to remove it, and it seems to have appear again on some of our older sites.
Because of t-old showing up, we are having some site links break.

Is there a reason that t-old is back, or is this just a bug that slipped through?

Thanks.

[2013-05-08 18:54] daviddurand commented on #233
You have to have the supportOldMarkup advanced property available, and then turn it off...

It's probably not there for all your sites (or it's not set properly, if it is there). We can enable this for any site if you request it through the normal channels.

[2013-05-08 18:54] #233 closed, assigned to cbwinchild

[2013-05-09 20:15] ghost commented on #233
Every one of our emails for site setup includes the following, so I thought you had changed something since the old markup is showing up...

Please include the following settings as part of the site setup:

1) EnableIE7Compatibility = No
2) supportOldMarkup = No
3) allowSiteExport = **\* No ***

[2013-05-09 20:19] ghost commented on #233
To be more specific, on May 1 we requisitioned 52712/FLASHA. The email that was sent looked like this:

Hello publisher-support@tizra.com.

Please create a Tizra site for **\* 52712/FLASHA **\* as follows:

1) Provision the site with **\* 500 **\* Pages
2) Create a subdomain for the site of **_flasha52712**_
3) Set up the initial admin user account for **\* ---@omnipress.com **\*
4) Copy design **

[2013-05-10 15:30] GWPublisher commented on #227
This bug has come back, we can no longer download the file.

[2013-05-10 18:21] ghost commented on #233
I was just finishing up a list of sites that still had t-old and it looks like you must have been going through and correcting this. Thank you.

[2013-05-10 20:06] cbwinchild commented on #233
Hey Ryan,

I fixed the sites that were improperly set up. If you notice one still
missing the SupportOldMarkup field, please just let me know.My apologies
for any inconvenience.

Thanks and have a great weekend.

Catherine

On Fri, May 10, 2013 at 2:21 PM, Ryan Hood notifications@github.com wrote:

##

Catherine B. Winchild
Technical Writer
Tizra, Inc.
9 Catalpa Rd.
Providence, RI 02906
_Phone:_ +

[2013-05-13 13:58] PStokesOmni opened #234 "Problem applying live to stagging"
On site s92834083.tizrapublisher.com, when I apply the live presentation library to stagging nothing happens.

[2013-05-13 14:05] adane commented on #234
We're looking into it.  It may be something specific to the design.  When I load other designs into staging they seem to work OK.

[2013-05-13 15:07] aabercrombie opened #235 "Staging and Live both aren't showing changes"
Working on aarp54390. Applying changes to a static page (Feedback). After making changes and then saving and applying to staging and live, nothing is happening on staging or live after refresh. EX: Changed h2 tag to h1 tag and added span tags to header text. Added class to p tags. Saved and applied to staging and live. Shows correctly when looking at the code on the page. When looking at staging a

[2013-05-13 15:20] aabercrombie commented on #235
Just noticed that my Wufoo form, which should be pulling through from Javascript in a free HTML block, is also no longer coming up on the same static page.

[2013-05-13 15:24] adane commented on #235
We're working on it.  The quick workaround for the moment would be just to create a new static page and paste the updated HTML into it.  If you need for it to be at the same URL as the one you're having problems with, you can cut the contents of the Custom URL field out of the problem one and paste it into the new one.

[2013-05-13 15:46] aabercrombie commented on #235
The HTML tags showed up fine on a new page, but the Wufoo form still isn't showing up. Just thought you guys should know.

[2013-05-14 12:24] PStokesOmni commented on #234
Any updates? I need to access staging items because I cannot make them live yet.

[2013-05-14 13:28] aabercrombie commented on #235
Publishing is working fine, but the HTML block with my Wufoo form still isn't showing up.

[2013-05-14 13:34] daviddurand commented on #234
The design name had become very long (> 255 characters), as you had gone back to a backup version, then made new versions and so on (so the name had many `(backup date)` strings tacked onto the end. This hit a limit in the database, and was creating trouble. I shortened the name because the information was not really useful anyway, but I have also fixed the database limit, so that it won't happen

[2013-05-14 13:34] #234 closed, assigned to daviddurand

[2013-05-14 13:36] SeanLawler commented on #234
Thanks guys!

[2013-05-14 13:41] daviddurand commented on #235
You made a custom page format override, and that template includes an HTML block with the intro text -- it does **not** include a static page content block, that would refer to the contents of the HTML editor on that page. I added the static page block back so that you can see the differences. Once you've got the the correct markup in the static page editor, just delete the old HTML block from the

[2013-05-14 13:41] #235 closed, assigned to daviddurand

[2013-05-14 14:22] aabercrombie commented on #235
The text is showing up, but the wufoo form is not. I did originally try to put the Javascript into the HTML editor, but it won't show up. So I added a free HTML block below it to paste the Javascript embed code into. This worked just fine until the site started messing up yesterday. This morning, after reading your message, I created a whole new page (called Feedback), put the HTML intro code into

[2013-05-14 15:30] adane commented on #235
Hi Alicia--

Unless Tizra is somehow not functioning as it should, this sounds like something one of your in-house web developers should handle.

Let me know if I'm missing something.

Abe

[2013-05-14 16:41] daviddurand commented on #235
One thing to bear in mind is that you can use the view source option of the HTML editor to make sure that it has not messed up your javascripts. Most people put scripts into an HTML block to avoid potential problems, and leave the normal text in the HTML editor. We can't debug scripting problems, only cases where the scripts are somehow not being delivered properly.

[2013-05-14 16:58] aabercrombie commented on #235
The text is in the static page block and the scripting is in the free HTML block just like you said, so I'm not sure what the problem is. I always view the source when editing HTML on Tizra instead of using the rich text editor, esp on a site this large with so much CSS.  It worked yesterday morning before the site went wonky for a bit, so I thought you guys might have missed something. Either way

[2013-05-14 23:07] #226 closed, assigned to daviddurand

[2013-05-14 23:07] daviddurand commented on #226
This was a problem with the indexing of user tags. If the tags are way out of sync for a site, we can re-index, though there is no significant effect except on the prompting.

[2013-05-15 14:23] adane opened #236 "In the Reader, Make Left/Right Arrow Keys Flip Pages"
If it's not hard, it would be great if the left and right arrow buttons could be used to turn pages in the reader.

[2013-05-15 14:32] GWPublisher opened #237 "Slide out TOC"
The slide out TOC page numbers are off.  They are giving the physical page numbers instead of the logical page numbers.

An example is here:
http://www.g-wonlinetextbooks.com/introduction-anatomy-physiology-2014/48

Lesson 2.1 should be on page 38, but it says 48 in the TOC.

[2013-05-15 14:33] adane opened #238 "Option to Publish Without Updating Publication Date is No Longer Visible on Document Properties"
It is visible when logged in a super user.

[2013-05-15 16:05] ghost opened #239 "License Issue with ASPPA Site"
When I attempt to save a new license for a user I get the following error:
Error
com.cubchicken.common.control.TizraException: email error
on operation view

But it appears to add the license even with the error.
I need this cleared up as soon as possible.

[2013-05-15 16:07] ghost commented on #239
The exact same error occurs when you try to delete a license.

[2013-05-15 16:38] daviddurand commented on #239
We had to make a quick configuration change yesterday because one of your conferences was generating very high registration traffic, and exceeded our delivery limit. I moved over default delivery to Amazon, where we have much better quotas, and more important, monitoring tools, but some of the sites with custom email setups started to pick up pieces of the new configuration. I just fixed ASPPA and

[2013-05-15 16:38] #239 closed, assigned to daviddurand

[2013-05-15 17:01] daviddurand commented on #180
Another customer has seen this, so we are doing more investigation.

[2013-05-15 17:30] ghost commented on #239
I think that SDE and ASPPA are the only two with customized email setups.
Is there anything other than email service that could make an impact to a site?

[2013-05-15 18:52] daviddurand commented on #239
Not sure what your question is exactly. The original impact was just registration traffic (and that level of traffic should have been fine, though it was definitely high (more than 1 registration per minute, at least in bursts). Outgoing email demand was one reason why we had the custom setups on SDE and ASPPA if you remember.  This was definitely our problem to avoid, and I intended to change to

[2013-05-15 20:11] #237 closed, assigned to nobody

[2013-05-15 21:11] #232 closed, assigned to daviddurand

[2013-05-15 21:11] #238 closed, assigned to daviddurand

[2013-05-15 22:00] daviddurand commented on #51
closing old bugs

[2013-05-15 22:00] #51 closed, assigned to daviddurand

[2013-05-15 22:02] #97 closed, assigned to daviddurand

[2013-05-15 22:05] daviddurand commented on #128
closing this old request as we are focusing on the new reading interface. Complex improvements like this to the current page content blocks will only come when we do a full overhaul of the templating system.

[2013-05-15 22:05] #128 closed, assigned to daviddurand

[2013-05-16 18:56] cbwinchild opened #240 "Date & Time Stamp not updating on Document PDF reload"
If I upload a PDF with the same file name as an existing PDF in the Document, the date and time stamp does not update.

[2013-05-16 20:12] #240 closed, assigned to nobody

[2013-05-17 21:29] GWPublisher commented on #180
Yes, we saw this issue as well. What happened was I created the fields in Document Properties, then I had gone into the Presentation tab and edited the All Users Info, and User Info pages.  Then I saved them and made them live.  The fields were still showing after that.  Later in the day, I edited the Stylesheet tab and created a static page.  That is when I saved the template again.  I also delet

[2013-05-19 16:10] adane opened #241 "Error on Deleting Document"
The following error occurs when trying to delete this Document from the Document Properties screen...

http://abedemo.tizrapublisher.com/3ni9u7/

Request failed. Error sent back: >>

[code]

[2013-05-19 16:15] adane opened #242 "ToC Entries Not Being Generated from Bookmarks"
When I upload a PDF file, the bookmarks to not appear in the ToC editor, or in the end user ToC.

[2013-05-19 17:17] #241 closed, assigned to daviddurand

[2013-05-19 17:17] #242 closed, assigned to daviddurand

[2013-05-20 16:59] daviddurand opened #243 "User account delete is not completing"
This is a consequence of an upgrade this weekend, and should be fixed by tomorrow. In the meantime, accounts whose access needs to be revoked can be cancelled, rather than deleted.

[2013-05-20 21:21] #243 closed, assigned to daviddurand

[2013-05-21 04:56] #227 closed, assigned to daviddurand

[2013-05-21 14:35] adane opened #244 "Copy Offers Feature Generates Error"
When attempting to use the "Copy Offers..." feature to copy offers from one Excerpt to other Excerpts within a Document, the attached error message appears.  It occurs when the "copy" button within the Copy Selling Options dialog is clicked, and does not seem to depend on what options are set in the dialog.
![2013-05-21 10 30 39 am](https://f.cloud.github.com/assets/1355614/542379/8861b604-c223-11

[2013-05-21 15:37] adane opened #245 "Link the Help Button in the Admin Nav Bar to the Support Site"
Please link the ? button that appears in the man navigation for the Admin panel to...

http://support.tizra.com

Also, please link the Documentation link as shown in the attached.

![screenshot 1 31 13 4 19 pm](https://f.cloud.github.com/assets/1355614/542860/47f3707c-c22c-11e2-986f-04b1cd7b9fd1.png)

[2013-05-21 17:48] #244 closed, assigned to daviddurand

[2013-05-21 17:52] #3 closed, assigned to daviddurand

[2013-05-23 15:23] daviddurand opened #246 "Eliminate delays in determining site page counts"
Currently when documents are deleted, their pages count against site page limits until they are finally cleaned up by the garbage collector. Revise the system so that pages are credited back to the account once the request to delete them is accepted. This should also speed up page count checks during long publish operations.

[2013-05-23 20:33] #246 closed, assigned to daviddurand

[2013-05-23 20:35] daviddurand commented on #246
Change should go live tonight.

[2013-05-30 18:52] Kuhrt opened #247 "Large books getting slow in IE"
I had one of our customers call me today saying that the further she looked (about 20 pages) at one of our books, the slower it got to change pages up to 15-20 load times. She is using IE so I thought I'd test it, and sure enough (it took me about 50 pages) it slowed down to about that slow. It does it a little in Chrome and Firefox but not nearly as bad. A simple refresh fixes the issue instantly

[2013-05-30 20:17] daviddurand commented on #247
Thanks for this. I am pretty sure that it's related to growing document sizes as people read along in a document. This happens because the page caching that makes the reader fast is causing the browser's memory load to keep increasing...

We are working on a general reader upgrade over the next few weeks, and I think that I will try to include a solution to this problem in that update.

[2013-06-04 20:52] cbwinchild opened #248 "Puerto Rico needs to be addded to drop down list"
PR needs to be added to the drop down  list on the Commerce Fulfiller Step page. As per DD, "find out if Paypal will do it,"

[2013-06-07 15:33] aabercrombie opened #249 "Can't upload files to site that still has pages"
Trying to add file to CMBA Gold 1 site. They still have several thousand pages available. Can't publish any more files to either staging or live. I get this error message repeatedly. They're at a conference now so this needs to be done ASAP!
![2013-06-07_1030](https://f.cloud.github.com/assets/3876308/624531/a97598f8-cf87-11e2-9775-5fe5e189e9e6.png)

[2013-06-07 15:40] ghost commented on #249
Site with issue is: http://knowledgecenter.clemetrobar.org/

[2013-06-07 15:47] daviddurand commented on #249
Thanks for this. fixed. I tested an upload and published "leboef"  to staging, just to make sure.

[2013-06-07 15:47] #249 closed, assigned to nobody

[2013-06-07 15:49] ghost commented on #249
Ali is testing it out and will reach out to our customer. Thank you for getting this fixed quickly.

[2013-06-13 17:01] cbwinchild opened #250 "Free Attachments not showing up in Downloads section of sidebar menu in online content reader"
If I attach a file _or_ a URL in the Free Attachments field on the Document Properties screen, they do not show up in the Downloads section of the sidebar menu in the online content reader.

If I add a URL to the Attachments field, it does show up in the sidebar menu in the online content reader, but without an icon, as there are for PDFs, PowerPoint presentation files, etc. (There's just a blank

[2013-06-14 18:55] cbwinchild opened #251 "The Google Share option on the sidebar menu launches Google Bookmarks, not Google+"
when I click on the Share tool in the sidebar menu of the online content reader to share the current page, I select Google and it launches Google Bookmarks:
https://www.google.com/bookmarks/mark?op=add&bkmk=http%3A%2F%2Fs61454368-preview.tizrapublisher.com%2F3kq871%2F23&title=Staging%3A+SORT+VALUE+TEST+2+ADD+MULTIPLE+PDFS+page+23&annotation=

It doesn't allow me to share the page via Google+.

[2013-06-17 18:43] #247 closed, assigned to daviddurand

[2013-06-17 18:46] Kuhrt opened #252 "User Info page when not logged in"
Is there any way to change what the ~UserInfo page says when a user isn't logged in? Right now it just has "Don't have any account? You can register for one now.", I couldn't seem to find anywhere to actually change what that says. Thanks!

[2013-06-17 19:48] adane commented on #252
Hi Kuhrt--

You can change the contents of that page in PRESENTATION > Layouts.  The relevant layout is called...

All Users Info

The main content of the page is generated by a block called...

User Account Information

If you don't like the text that block generates for unauthenticated users, you can hide it with CSS, then use a Free HTML block to present different text.

If you want that text t

[2013-06-17 19:48] #252 closed, assigned to nobody

[2013-06-18 16:52] daviddurand opened #253 "Commerce export for offers does not include information on purchased object (unsubstituted variables)"
From ARL:

I just ran the Commerce Transactions detailed report so I could see which pubs should be allocated which amount. Previously, the report included the title of each publication, for example: Offer: Buy access to SPEC Kit 313. Now it just says Offer: Buy access to ${item.props.OfferTitle}.

[2013-06-18 20:18] #253 closed, assigned to daviddurand

[2013-06-18 20:22] daviddurand commented on #253
Fix will be live tonight.

[2013-06-19 14:28] Kuhrt opened #254 "Attachment links in PDF go to a page that says "undefined""
All of our attachments in our pdfs are just linking to a page that says undefined now. You can download them fine if you click the downloads button on the left, but from the pdf they just take you to that page.

[2013-06-19 17:21] #254 closed, assigned to daviddurand

[2013-06-19 17:23] adane commented on #254
Thanks for the report, Kurht.  Apologies for the problem, and please let us know if you see further issues.

[2013-06-19 17:31] Kuhrt commented on #254
Thank you guys so much. Y'all are awesome!

[2013-06-19 18:27] #251 closed, assigned to nobody

[2013-06-20 17:43] daviddurand opened #255 "Feature: Markup changes to support accessibility"
We have too many h1 elements on navigational smart blocks, and we are missing some label tags that would tie captions to fields.

We will add a new "heading level" attribute to search blocks (and eventually all blocks that generate headings). This will set a minimum heading level for the content. Database defaults would ensure that existing designs will not change, but workbench defaults will guar

[2013-06-21 16:40] cbwinchild opened #256 "Some licenses listed on right-hand side of Collection Properties screen are obscurred"
If the license list is long enough, some licenses listed on right-hand side of a Collection Properties screen are obscured by the grey lines that house the list of what's contained within the collection. Example here: https://secure.agilepdf.com/admin/9ishf/main

[2013-06-24 22:06] adane commented on #248
From Googling around a bit, it looks like Website Payments Pro does support payments from PR.  Is this something David D. can add?

[2013-06-25 13:45] adane opened #257 "Add Ability to Assign "Role" Attribute to Container Div"
From Henry:

This is in regards to ARL request 2.1.13: Name, Role, Value -- The main navigation menu and left column contextual menu do not have an identified landmark role.

In order to assign a "role" attribute to a container div, we need a new property in the smartblock edit modal. For example:
![2013-06-25 09 42 54 am](https://f.cloud.github.com/assets/1355614/702824/5d3882c4-dd9d-11e2-847e-77

[2013-06-25 13:48] adane opened #258 "Checkbox Focus in Login Block"
From Henry:

We have a problem with checkbox focus that may need Dave B's review.

In the Login smartblock, the native OS checkbox is replaced with a custom graphical checkbox. The OS checkbox is hidden and the graphical checkbox is managed with CSS.

The problem is that the graphical checkbox doesn't take focus.

This could be solved by:

a) Assigning the graphical checkbox to an anchor tag rathe

[2013-06-25 13:49] adane commented on #258
Question on this: Would Henry's preferred approach of reverting to the OS checkbox result in something that wouldn't fit with the rest of the design visually?

[2013-06-25 13:53] dbarberich commented on #258
I don't think it will be too noticeable. With the move to Foundation 4, there was a conflict with getting the selects to be styled the Foundation way, so those are currently OS versions rather than Foundation versions. So if we move ahead with this checkboxes will be too. Other form fields can stay as they are.

[2013-06-25 13:54] adane opened #259 "AddThis Widget Issues"
From Henry...

In the Share smartblock, the AddThis widget icons have three problems.

1) They don't show focus. This is something I will fix.
2) The + menu doesn't respond to keyboard navigation.
3) The + menu stays open even when the + icon loses focus.

The latter two problems are javascript related. Do you have any thoughts about how to adjust the third party javascript for accessibility?

One

[2013-06-25 13:57] adane commented on #259
I'd kind of be surprised if accessibility for the AddThis stuff is important for ARL.  Am I wrong?

I have a feeling that the AddThis code in the Master Block may be a very old version.  Maybe just pulling in the current version would help?

[2013-06-26 19:11] Kuhrt opened #260 "Hyperlinks with a #"
We have some hyperlinks on a couple of our pages that have the # sign in them. After looking through some documentation I saw that there are some different things you can do with hyperlinks by adding #. The problem is that it's just part of the link so when you click it, it tries to find a link on our tizra page with all the text after the # sign. http://ccfcs.tizrapublisher.com/types_investments_

[2013-06-26 20:49] daviddurand commented on #260
The reader does not work with '#' links as targets. This is something that we will be doing in the future, but it's tricky, as we have to build the targets and the browser scrolling/highlighing, unlike the case with pure HTML.

I have documented creating anchors (links that start with #) in the wiki, but you will see that we don't claim that they work yet. In fact, they don't work, and can even ca

[2013-06-26 21:15] Kuhrt commented on #260
Yeah, I understand that you can't use anchors within the PDF. Our link is an external site with a fragment identifier. Here's the actual link on the page that I linked earlier. http://www.investopedia.com/video/play/treasury-bill/#axzz29V200QLt when you click the link, it links to http://ccfcs.tizrapublisher.com/types_investments_dollarsandsense/1#axzz29V200QLt which is nothing of course. There's

[2013-06-27 14:03] daviddurand commented on #260
OK, now I've gotcha... This is a bug that I'll look into.

[2013-06-27 16:42] adane opened #261 "Beta Reader: Download Links Don't Fit within Sidebar"
See attached screenshot, taken in Chrome for Mac, Version 27.0.1453.116.

URL: http://s26475054-preview.tizrapublisher.com/3qhtkv/23

![2013-06-27 12 39 47 pm](https://f.cloud.github.com/assets/1355614/717262/6b7a6878-df48-11e2-9034-b5ab94415daf.png)

[2013-06-27 20:32] #261 closed, assigned to daviddurand

[2013-07-01 14:55] Kuhrt commented on #260
Arlene just let me know that the links she had posted changed their url, so they no longer have the # in them. I don't think we have any others that were this way, so it's not an issue for us anymore. Thanks!

[2013-07-01 14:55] #260 closed, assigned to daviddurand

[2013-07-11 13:31] orangedrink opened #262 "Need license increased to platinum 3"
It looks like we did cut you a PO for a platinum 3 license but somehow the site is now allowing only 300,000 pages.

I need to make a change for TRB so please get this fixed as soon as you can. Thanks.

[2013-07-11 14:30] daviddurand commented on #262
It's changed...

[2013-07-11 14:30] #262 closed, assigned to nobody

[2013-07-11 14:41] orangedrink commented on #262
OK thanks

[2013-07-13 16:04] daviddurand opened #263 "JSon filtering does not filter enough"
Some of the JSon calls will not properly remove the `props` field from the result. Some _will_ correctly filter out the content of `props` at least.

this url:

http://demo.tizra.com/api/query/publications?props=Title&fields=url-id

correctly returns entries like this:

[code]

while this one:

http://demo.tizra.com/api/query/publications?fields=name&fields=url-id

returns entries with all the pro

[2013-07-16 17:33] adane opened #264 "New, New Reader Section Download Formatting"
In the new version of the reader, links to non-current section downloads are formatted strangely.  See attached, from this page...

http://s26475054-preview.tizrapublisher.com/King_Richard_III/1

![screenshot 7 16 13 1 30 pm](https://f.cloud.github.com/assets/1355614/806589/caa80b80-ee3d-11e2-94a9-31205fb00aca.png)

[2013-07-18 14:44] #264 closed, assigned to daviddurand

[2013-07-18 19:18] adane opened #265 "Downloads Icon Appears in Sidebar Even when there are no downloads"
The issue seems to affect both the current production reader, and the beta reader.

[2013-07-18 21:00] adane opened #266 "Last Accessibility Requests from Henry"
Following is a thread relating to the last markup change requests from Henry, with a response from David D. at the top...

I think panel is from Foundation, unless its in the beta Reader, in which case it's a mistake…

We don't use that class internally in block structure, I don't think.

t-my should be in place shortly.

On Mon, Jul 8, 2013 at 1:15 PM, Henry Woodbury wrote:
Regarding the t- stand

[2013-07-19 21:03] adane opened #267 "Beta Reader: Home Icon Doesn't LInk to Home"
When beta reader is switched on, the Home icon in the header doesn't seem to be linked anymore.  Same readerMarkup works fine when you switch back to current production reader.  Following is readerMarkup in the example I used...

[code]

[2013-07-23 18:37] adane opened #268 "Error on Creating Static Page"
The following error message was received on creating a new static page on a new site.

Error message goes away, when page is saved and page seems to function normally after that.

[code]

![2013-07-23 02 32 02 pm](https://f.cloud.github.com/assets/1355614/843791/3ef34774-f3c6-11e2-9211-05713c393ce7.png)

[2013-07-23 21:08] daviddurand commented on #268
closed by 6d3799d9f3d7e9d9423a46f702106b167630992b

[2013-07-23 21:08] #268 closed, assigned to daviddurand

[2013-07-23 21:09] daviddurand commented on #267
closed by a545851726217c1203b6e1b888e0cc1721c2d74a

[2013-07-23 21:09] #267 closed, assigned to daviddurand

[2013-07-23 21:50] daviddurand commented on #266
turns out `id="t-my"` has been on the body tag for a while.

So any stylesheet rule that you want to override, say  `div.foo a` can be overriden as `#t-my div.foo a`

[2013-07-24 00:01] #266 closed, assigned to daviddurand

[2013-07-24 00:08] #257 closed, assigned to daviddurand

[2013-08-02 18:29] ghost opened #269 "Mobile Viewer doesn't show images on kindle fire"
The mobile viewer on library.asppa.org does not work on kindle fire. The images show up as a question mark.

Viewer works fine on iPad.

[2013-08-06 21:48] #255 closed, assigned to daviddurand

[2013-08-07 21:45] aabercrombie opened #270 "Erroneous block error message after publishing to live"
I've been trying to update the AARP site with a new banner. Literally all I have done is add CSS telling the text and div how they should be styled. It looks fine on staging
![aarp_staging](https://f.cloud.github.com/assets/3876308/927978/7f64c87e-ffaa-11e2-9c5b-91a98f6467d1.png)
 but when I publish it to live all of a sudden half of our content disappears and is replaced with a message about repl

[2013-08-08 15:21] #270 closed, assigned to nobody

[2013-08-08 16:15] daviddurand opened #271 "Allow referrer URLs to link to attachments"
Sometimes this is useful.

[2013-08-11 21:12] ghost commented on #269
Is this something that can be looked into. I feel like I should give the end user some information

[2013-08-12 18:01] daviddurand commented on #269
Sorry, I will take a look today. We do have a fire in house.

---

David G. Durand
CEO / CTO
Tizra
9 Catalpa Road
Providence, RI 02906

Email: david.durand@tizra.com
Phone: +1 401 935-5317
FAX: +1 401 273-5171
Web: http://www.tizra.com/
Blog: http://blog.tizra.com/

Online publishing unbound.

On Sun, Aug 11, 2013 at 5:12 PM, Ryan Hood notifications@github.com wrote:

[2013-08-12 18:08] ghost commented on #269
OK thanks.

[2013-08-13 02:35] #269 closed, assigned to nobody

[2013-08-13 02:46] daviddurand commented on #269
This is working now on my fire. We'd lost a check, so Fire was being treated like iOS and Safari, but while it matches safari, it has different image formats supported.

[2013-08-16 17:57] orangedrink opened #272 "Is there a way to affect the display of the mobile reader?"
https://github.com/Tizra/Tizra-Customer-Tracker/wiki/Customizing-New-Reader

I'm looking at the wiki but adding the properties described there doesn't work. Is there anything I can do to set a height to the page when the new reader is being used?

[2013-08-16 20:20] daviddurand commented on #272
Lots of people are using these design properties, so any problems are likely to be browser cache or setup issues. You do have to have the advanced site property for the new reader enabled, of course.

It's also important to test any overrides on staging as it has browser caching turned off. The live site requires refreshing (and sometimes a cache flush) for many changes to propagate -- one reason

[2013-08-16 20:22] daviddurand commented on #265
Fixed earlier this week.

[2013-08-16 20:22] #265 closed, assigned to daviddurand

[2013-08-16 20:24] daviddurand commented on #259
Addthis markup is really not under the control of Tizra, except for where it is encapsulated. I'm closing this.

[2013-08-16 20:24] #259 closed, assigned to dbarberich

[2013-08-16 21:12] #236 closed, assigned to daviddurand

[2013-08-19 13:46] orangedrink commented on #272
I don't see this option in advanced site properties for this site (http://aarp54390.tizrapublisher.com/) If I were able to just disable the mobile reader that would solve my problem too.

[2013-08-19 14:53] daviddurand commented on #272
The mobile versions are pretty much not customizable, actually. (Sorry for giving all the information on the other reader when that's not relevant).

We can enable the site setting for the new reader, but it does not seem like that will help.

There is an exit button on the mobile reader that will go to the default page display. Without a description of exactly what you want to accomplish, I can't

[2013-08-19 15:18] orangedrink commented on #272
For the AARP site we are using an iframe (as you recommended) to show the contents of the tizra site alongside the header and footer pulled from AARP via server side includes.
http://aarp.omnibooksonline.com

To make this seamless we are using javascript to pass the height of the body from the tizra site to the parent iframe and then resizing the iframe appropriately. This works pretty well unless

[2013-08-19 17:19] daviddurand commented on #272
You're right that the beta properties don't affect things. Sorry about wasting your time on that.

There's no real way to find the size of content within an iFrame (unless they are served from the same domain).

You should be able to turn off the mobile version by setting a session cookie

`param-expanded` to the value `false`

Maybe that will help to ensure that there is only one page size to mea

[2013-08-19 18:16] orangedrink commented on #272
That would be the easiest solution but it doesn't seem to be working:

http://screencast.com/t/swSywEX8

[2013-08-19 19:01] adane opened #273 "Filtering on Document Titles in Admin Does not Work with Apostrophes"
Titles (and possibly other fields) containing apostrophes cannot be found via the Filter feature on the main Documents list.  Clicking the "Filter" button causes the user to be returned to the Admin homepage.

See attached screenshot for an example.

![screenshot 8 19 13 2 53 pm](https://f.cloud.github.com/assets/1355614/988414/6a070054-0901-11e3-9204-d1847b3aafc7.png)

[2013-08-19 19:13] daviddurand commented on #272
I can't tell from that screenshot if you reloaded the iframe _after_ setting that cookie. You have to have the cookie set _before_ the browser parses the iFrame (or you set its source).

It took me a while, since I don't want to edit your page code, but I was able to execute

`document.cookie="param-expanded=false"`

within the right rendering context (the tizrapublisher site), and once that was d

[2013-08-19 19:57] orangedrink commented on #272
Thanks a lot for helping me work through this. Maybe a video will show what's going wrong here.

http://screencast.com/t/8zZIRO7jn

[2013-08-19 21:46] daviddurand commented on #272
Hmmm.... That's exactly what I was doing, but I did not get the mobile version, but your customized pages.

I'm going to try some changes on staging to remove some more variables.

[2013-08-19 21:52] orangedrink commented on #272
Oops.. didn't see this and published to live..

[2013-08-19 21:52] orangedrink commented on #272
Let me know what you find out. Thanks again for the help.

[2013-08-19 22:05] daviddurand commented on #272
OK, I'd managed to mess up somehow in the testing. You're going to actually have to set the preference to say that you don't want the mobile, and redirect to the home page...

The URL will look like this:

`http://aarp54390.tizrapublisher.com/site/preferences?operationId=edit&saveCookie=true&fieldName=expanded&fieldValue=false&redirectTarget=/`

That's certainly kind of horrible, but it actually w

[2013-08-19 22:05] #272 closed, assigned to nobody

[2013-08-20 13:12] orangedrink commented on #272
That's not too horrible. Most importantly it's working. Thanks David.

[2013-08-26 13:30] orangedrink opened #274 "Cannot delete a document on TRB"
I'm trying to delete paper number 13-5038 but I'm getting this error:

http://screencast.com/t/MhkT2rLy9

I tried unpublishing the document, saving and a few other things but was unable to delete the document.

Thanks!

[2013-08-26 13:44] adane commented on #274
It's possible that the problem is that there's a user with a license to the Document.  Is it OK to delete that user's license (and thereby terminate his/her access)?

[2013-08-26 14:32] orangedrink commented on #274
Good idea.. There was a user license. I deleted it but still having the same problem.

[2013-08-26 15:52] adane commented on #274
OK, sorry...we're looking into it.

[2013-08-26 16:11] orangedrink commented on #274
Thank you.

[2013-08-27 15:36] daviddurand commented on #274
These documents were still referenced by the bulk load requests that created them. I've deleted those records, so you should be good to go at this point.

[2013-08-27 15:36] #274 closed, assigned to nobody

[2013-08-27 15:47] daviddurand commented on #273
fixed

[2013-08-27 15:47] #273 closed, assigned to daviddurand

[2013-08-27 16:21] Kuhrt opened #275 "User can only see pdf with left menu out"
I had a user today call me and when she goes to look at one of our books, she just sees white space in the middle of the screen. When she hits one of the menu buttons on the left, the help button for example, the document then shows when the menu is open. She's using IE, I told her to use Firefox for now, and I walked her through resetting her advanced settings, security settings, clearing all her

[2013-08-27 18:14] daviddurand commented on #275
We support IE back to version 8 in the new reader, and fall back to the old
one for 7, but I can't be sure that there are no problems -- and IE has a
huge number of preferences that can affect things. If you can replicate the
problem in compatibility mode, you can see if the problem is related to any
customizations you have made to the reader by visiting the staging site
with customizations turned

[2013-08-27 18:21] Kuhrt commented on #275
Ok, you pretty much confirmed what I was already thinking. I'll let you know if we just can't get it. Thanks!

[2013-08-27 18:21] #275 closed, assigned to nobody

[2013-09-04 15:52] cbwinchild opened #276 "Attachments and Download Headings in sidebar menu display even if attachment set to NOT "visible" or downloads don't exist"
If a document has Attachment(s) associated with it, a "Downloads" heading will display in the "Downloads" sidebar menu of the online reader, even if there are no downloadable PDFs associated with the Document.

Similarly, if a document has downloadable PDF(s) associated w/ it, but Attachment(s) are set to NOT visible, the Attachment heading will still display in the "Downloads" sidebar menu of the

[2013-09-05 01:36] adane commented on #245
Small tweak suggested by a customer: Can you make the links to the support site open a in a new window?  Particularly helpful, since the browser back button doesn't take you back to the same part of the admin.

[2013-09-05 18:11] #245 closed, assigned to daviddurand

[2013-09-05 18:18] daviddurand commented on #271
Closing due to lack of demand.

[2013-09-05 18:18] #271 closed, assigned to daviddurand

[2013-09-05 18:19] #69 closed, assigned to nobody

[2013-09-05 18:21] daviddurand commented on #276
Can you give a URL? This may depend on publication/visibility status of the attachments and/or downloads, so an example will make tracking it down much easier.

[2013-09-05 19:07] cbwinchild commented on #276
sure: here's a page where there are no downloads, but the download heading
is still listed: http://cbw.tizrapublisher.com/3s8jut/1

please let me know if you need more thank this.

On Thu, Sep 5, 2013 at 2:21 PM, David G. Durand notifications@github.comwrote:

##

Catherine B. Winchild
Technical Writer & Trainer
Tizra, Inc.
9 Catalpa Rd.
Providence, RI 02906
_Phone:_ +1 (855) 220-1235
_Fax:_+1 (40

[2013-09-06 20:35] daviddurand commented on #276
Thanks. This is not really an error, but a badly-named global header for the entire block. We recently renamed it the resources list, as it's not always downloads any more, and hopefully that makes it less confusing.
The header can be removed by redefining the text to the empty string using the reader tailoring design macros.

[2013-09-06 20:35] #276 closed, assigned to daviddurand

[2013-09-10 18:24] Kuhrt opened #277 "# sign in links"
I know that there are different commands you can add with the # sign in a link, but we have some links in our curriculum that has that has the anchor in it. When you click on those links it just sends you to a loading page on Tizra instead of going to the link. You can of course right click it and copy and paste it to the browser and it works fine, but many of our customers don't/won't do that. Th

[2013-09-10 23:38] daviddurand commented on #277
This seems to be a markup generation problem. The link in question should have target="_self" and/or rel="external" on it, and it doesn't. The link address itself is correct... The problem is that jQuery mobile is processing the link as an "ajax navigation link", and since it's not even on the right domain, that is failing.

I'm investigating why the right link markup is not being generated. If yo

[2013-09-11 15:20] Kuhrt commented on #277
Thanks so much for looking into this! The quick fix is working perfectly!

[2013-09-13 14:57] orangedrink opened #278 "All sites down"
I was just told that all of our sites are down. Do you have an ETA on when those will be back?

[2013-09-13 15:07] adane commented on #278
They should be back now.  There was an AWS problem we're still digging into.  Let us know if you're still seeing problems.

[2013-09-13 15:25] orangedrink commented on #278
Thanks Abe.

It looks like the sites are working but are very very slow. Keep us posted on this one.

Thanks again!

[2013-09-13 15:37] adane commented on #278
We're currently making some DNS changes that should help further.

[2013-09-13 16:03] adane commented on #278
Performance is looking much better now.  Are you seeing the same?

[2013-09-13 16:25] daviddurand commented on #278
The original problem was an Amazon networking problem at their east-coast datacenter, with the machines running OK, but not communicating reliably with the world at large.

As the network reliability improved we started to see elevated Domain name lookup errors. We believe that the increased traffic of people hitting refresh, or the Amazon issue itself, was also affecting one our DNS providers. Wh

[2013-09-13 16:27] orangedrink commented on #278
I only tested with ASPPA but performance looks good now. Thanks guys!

[2013-09-16 18:13] cbwinchild opened #279 "PRESENTATION > Create New Image error message"
When I go to add an image to PRESENTATION > Images, an error message appears when you try to create a new image. Once you've uploaded the image and saved, the error message goes away. I'll try to get image

I
![presentation image error](https://f.cloud.github.com/assets/2480073/1151493/b525f79c-1efb-11e3-84d4-479ace7e6c8c.png)

[2013-09-17 17:17] #279 closed, assigned to nobody

[2013-09-18 18:47] #278 closed, assigned to nobody

[2013-09-24 18:50] orangedrink opened #280 "All sites down"
When I go to http://elibrary.asppa.org/ I just get waiting for http://elibrary.asppa.org/ and no response.

Please let us know what's happening with that. Thanks!

[2013-09-24 19:07] orangedrink commented on #280
Looks like they are back up. Thanks

[2013-09-25 14:40] Kuhrt opened #281 "Passwords don't save when activating new accounts"
Our secretary is having an issue that every time she creates a new user, the password doesn't save. She says she'll even do the password and save it twice and then still the teachers call saying they can't get in to their account. Usually after she resets the password again it works. Do you guys know of anything that might be causing this?

[2013-09-26 15:01] daviddurand commented on #281
Could there be a problem with the password match on the two password boxes? They both have to be the same. I often use cut and paste to make sure that I'm not mistyping -- I seem to be able to mistype anything several times in a row -- mostly when it matters.

There's no other problem with passwords generally.

If the teachers are going to the "forgot password" page, that could create a problem, a

[2013-09-26 15:15] daviddurand commented on #281
Well, the errors on mismatched passwords on updates are working properly.
I'm seeing proper error returns on creation as well as updates. The errors are displayed by javascript. What browser is she using? Perhaps there's a problem that's masking the error from the server.

[2013-09-26 16:55] Kuhrt commented on #281
She's using Firefox! Ok who knows, she wanted me to ask just to make sure. I'm going to watch and see what she's doing for sure! Thanks!

[2013-09-27 19:00] daviddurand opened #282 "New Index format to list values of property, and then link to collections of items that share that value"
The typical example would be an author index that lists author names and then dispatches to lists of publications for that author.

[2013-10-02 14:13] aabercrombie opened #283 "Can't remove sidebar boxes when viewing PDF as image"
I'm removed two sidebar blocks from two specific PDFs, About These Publications and Disclosures and Copyright, on aga53756.tizrapublisher.com. I can remove them from the Document TOC, and they don't show up when viewing as a PDF, but reappear when viewing as an image. Since I only have one Image TOC area, and I only want that sidebar to disappear for two of the PDFs on the site, is there anything

[2013-10-02 14:28] #280 closed, assigned to nobody

[2013-10-02 14:33] daviddurand commented on #283
The stylesheets that were created for your standard templates make some assumptions about the size of the PDF pages after rendering. This requires controlling the actual dimensions of the page itself in the PDF file. There is one old issue (#100) in which I explained to Ryan some of the limitations of using that kind of a fixed layout for Tizra. He or someone else responsible could adjust the desi

[2013-10-02 15:02] ghost commented on #283
Clearly something was misunderstood because David you are completely missing the point of the problem.

The problem is with the layouts. In a document we can edit the "Design Layouts" in order to give us a different look on that specific page. Those two things are Document Toc and Title Content. When we over ride the master blocks for those two items, we get the correct behavior of some sidebar el

[2013-10-02 15:08] daviddurand commented on #283
Thanks. It wasn't at all clear to me. The image/PDF change is internal to the page content block, and does not involve different templates at all. I suspect that something is happening with a site Javascript, but I will look into it.

[2013-10-02 15:47] daviddurand commented on #283
OK, something odd seems to be happening.

There was a javascript error in some quiz thing, but removing that on staging did not affect the problem, though it did help to verify it.

The first thing to notice is that it's the URL of the page that controls the problem, and not PDF or image mode. The link on the site is to http://aga.conferencespot.org/about/
Because tables of contents are suppressed

[2013-10-04 20:43] adane opened #284 "Macros Not Expanded in Virtual Collection Names Beta Reader Search Scope Dropdown"
As shown in the attached, unexpanded macros are appearing in the names of virtual collections in the search scope dropdown in the Beta Reader.

The URL being viewed in the screenshot is...

http://s45273646-preview.tizrapublisher.com/michigan_windows/9

![2013-10-04 03 45 56 pm](https://f.cloud.github.com/assets/1355614/1272372/1e5c38ee-2d2e-11e3-8a13-bbe187827af6.png)

[2013-10-08 08:43] adane opened #285 "Concurrency Wording on Order Details Page Can be Confusing"
In cases where users have purchased content with a concurrency limit, their order history displays a message that at least one purchaser has found confusing...

"This order allows concurrent access for X seats."

The user took this to mean they were entitled to have additional logins created for the account.

It would probably be a good idea to change the message to something that's more neutral w

[2013-10-08 15:41] aabercrombie opened #286 "Forms no longer work in PDFs once they're downloaded"
For ai.tizrapublisher.com (knowledgecenter.appraisalinstitute.org), if a PDF is uploaded with forms enabled, the forms are disabled when the form is downloaded and users get this error message:
![image006 2](https://f.cloud.github.com/assets/3876308/1290389/073f91ba-3030-11e3-8154-1bd0c38ee190.jpg)

Is there any way to make it so that forms are not disabled when the PDF is uploaded to the system?

[2013-10-08 16:44] daviddurand commented on #286
We never supported use of forms in books, because there has always been an image-mode method of delivery. Image mode is now the preferred mode of delivery, as well.

This may be a new issue, perhaps due to updates to Adobe Reader and Acrobat. We have always extracted pages from the PDFs, so that has not changed. We have also always supported watermarks as well, but not every site enabled them. If

[2013-10-08 17:24] ghost opened #287 "Can't update Main Shell"
For SMRP we are updating the design to their new redesigned look. I'm updating the main shell to reflect some of the changes they made so that updating our site is easier. When I try to update "Main Shell" with what I have so far (New Main Shell) I get the following error.

The web page you seek cannot be located, but countless more exist. Return to site home.

Also, your error dialog hijacks the

[2013-10-08 18:56] ghost commented on #287
Now this is happening with any layout...

[2013-10-08 19:17] daviddurand commented on #287
Sorry about the error message -- the error is a crash in an operation, not a normal error return, and the Ajax javascript is getting confused and displaying the raw response.

I think what you did was go and delete a layout, when a master block from that layout was in the workbench. That's leading to a problem when the workbench attempts to load the now nonexistent block.

That means that there sh

[2013-10-08 19:23] daviddurand commented on #287
Actually it was a cache error, so I was able to flush the bad object reference. You can edit again now.

It helps to be sure that you don't have master blocks in your workbench when you delete layouts -- this is one of the master block issues that are rare, and still have to be worked around.

[2013-10-08 19:23] #287 closed, assigned to nobody

[2013-10-08 19:50] ghost commented on #287
Thanks. It looks like the stuff i was working on got wiped out.

[2013-10-08 20:04] aabercrombie commented on #283
Hey guys, is there any update to this?

[2013-10-08 20:36] daviddurand commented on #287
I am afraid that I probably did that while investigating the problem.

[2013-10-11 14:58] aabercrombie opened #288 "PDFs not downloading"
On ai.tizrapublisher.com, when you're on the PDF viewer and click on the disc image to download a PDF, it now merely opens another tab with the PDF viewer in it again instead of downloading the file. The URL is pointing to the PDF, so it should download instead of opening a new tab with the reader.

![2013-10-11_0956](https://f.cloud.github.com/assets/3876308/1315347/8429dcce-3285-11e3-9e26-bcbde0

[2013-10-11 16:47] daviddurand commented on #288
The new window is set in the markup that you have included in your design (`target="_blank"`).  View source will show that, and the markup in question is not generated by Tizra. In fact you can see in HTML source that the markup is from a FreeHTML block.

As to the in-browser display, it probably depends on your browser. I checked, and not only does it download in Chrome, but we are setting the `C

[2013-10-11 16:47] #288 closed, assigned to nobody

[2013-10-11 17:03] aabercrombie commented on #288
David, that doesn't make any sense. If it has to do with the link, why would that work yesterday and not today? We have the exact same setup on all our other sites and this isn't happening. I've tested it out on three other sites and the downloads work. It's only on AI that it's opening another PDF viewer instead of downloading the file. The issue isn't that it creates a new tab, the issue is that

[2013-10-11 17:16] daviddurand commented on #288
I can clook at the markup that is being delivered, and where it comes from. It's from HTML that is typed into your site design. I can't change that, as it's your design. Similarly, I can check the HTTP headers, and see that they are set correctly (on that site) and that the files are being  downloaded (at least in my browser, but as expected because the headers are correct).

Once you have correct

[2013-10-15 14:08] Kuhrt opened #289 "Customers having some issues loading our content"
I've had several calls yesterday and today with people not able to see our content and some not able to open attachments. All of the issues seem to be coming from users using IE 8 or IE9. It basically says, windows does not know which program to open these files in, would you like to choose or choose for you thing. It does this when trying to actually view our curriculum and when they try to open

[2013-10-15 14:17] Kuhrt commented on #289
Sorry, forgot to say it never actually opens up anything after you tell it one way or another. That's the issue with it.

[2013-10-15 15:01] Kuhrt commented on #289
Just got a call from one of the school districts IT guys that said when the files are downloaded, it's adding a 1 to the file extensions. So .pdf turns into .pdf[1] and then of course windows doesn't know what to do with that. I don't know if that helps, but thought I'd relay the message!

[2013-10-15 15:20] daviddurand commented on #289
But it's only happening with IE...

These are all attachments, right? no excerpt downloads?

[2013-10-15 15:26] Kuhrt commented on #289
Yes, only IE. And I actually just finally re-created it with IE 9, it's the first time I got it to give me the error.

It's happening mainly with only the attachments. You can use this as an example http://ccfcs.tizrapublisher.com/brain_and_nervous_system/1 that first power point did it for me in IE 9.

Some people have reported not being able to see the pages at all, it automatically asks what pr

[2013-10-15 15:37] daviddurand commented on #289
Thanks Kurht, the specific filename was pretty helpful.

Some internal changes to ensure proper operation with unusual strings in URLs are causing the period in the filename to be URL-encoded in the `Content-Disposition:` header. This is confusing IE, and causing it to add "1"s to the filename. (This seems to be a general issue in some other cases:  [http://support.microsoft.com/default.aspx?scid=

[2013-10-15 15:53] Kuhrt commented on #289
Haha gotta love bugs with IE. Thanks David!

[2013-10-17 13:45] #289 closed, assigned to daviddurand

[2013-10-17 13:45] #281 closed, assigned to nobody

[2013-10-21 15:35] cbwinchild opened #290 "Attachment files set to NOT download are still downloading onto computer"
In a document, adding .pdf and .doc Attachment files and setting both to NOT download. PDF opens up in Adobe Acrobat and .doc opens in Word and can be saved to computer.

[2013-10-21 16:50] daviddurand commented on #290
I've identified a problem  in  the reader markup for attachments. Should be fixed shortly.

[2013-10-21 17:07] #290 closed, assigned to daviddurand

[2013-10-25 14:52] Kuhrt opened #291 "Multiple Headers Error"
We're getting the error below from a few of our attachments. We've run in to 4 or 5 this morning and didn't know if it may be something you guys could fix? We've re-uploaded and re-processed everything multiple times and still are getting this error. There's also a link to the page below. Thanks!

First attachment "Typical Energy Level" - http://ccfcs.tizrapublisher.com/managing_time_energy_culina

[2013-10-25 19:10] daviddurand commented on #291
Thanks. I found the problem (which only affects quite small attachments). The fix will be in place tonight.

[2013-10-25 19:11] #282 closed, assigned to daviddurand

[2013-10-28 13:56] aabercrombie opened #292 "Cannot add license for user"
Trying to add a license for collection 1 to a user on aga53756.tizrapublisher.com. Get the error below every time.

![2013-10-28_0854](https://f.cloud.github.com/assets/3876308/1420024/a0e41d2e-3fd8-11e3-81c1-b300fb3f5447.png)

[2013-10-28 14:00] Kuhrt commented on #292
We're getting the exact same error when trying to activate a license this morning.

[2013-10-28 14:23] #291 closed, assigned to daviddurand

[2013-10-28 14:52] #292 closed, assigned to daviddurand

[2013-10-30 16:47] orangedrink opened #293 "Need an export of TRB user data"
I'm not having any luck with exporting the users from the TRB site. Is that something we should be able to do via the web interface or with so many users does it make more sense for you to do this for us manually?

[2013-10-30 17:02] orangedrink commented on #293
Oh.. Looks like I got that working. I'll let you know if I have problems

[2013-10-30 17:12] daviddurand commented on #293
let me know any details of your problems if you can replicate them. It could be some transient network stuff, if the files are big; and if the browser timed out or got interrupted while the system was building a huge download, that could cause trouble.

If there's a bug, we'd like to fix it.

[2013-10-31 19:19] cbwinchild opened #294 "When I log out of a tizra site, I get a blank screen (although it DOES log me out)"
If I am logged into a Tizra site:
cbw.tizrapublisher.com
or
demo.tizra.com

I log in as an admin (or as a NON-admin user).

When I click log out here -- cbw.tizrapubisher.com -- I get a blank screen:
https://secure.agilepdf.com/logout/1qje1l/internal?callbackUrl=http%3A%2F%2Fcbw.tizrapublisher.com%2Fauthcallback%2F1qje1l%2Finternal%3Foperation%3Dlogout

Same from tizra demo site:
https://secure.ag

[2013-10-31 19:48] daviddurand commented on #294
Found this. Will be in place tomorrow.

[2013-10-31 19:52] #294 closed, assigned to daviddurand

[2013-10-31 20:56] orangedrink commented on #293
Thanks David. I really appreciate your willingness to make this work.

When exporting all users  I'm seeing a stack trace coming out in the export at row 10563 column F. Please let me know what you can do to remedy that. Thanks!

[2013-10-31 21:06] aabercrombie commented on #294
I'm currently not able to log out at all. Just get the blank page and stay logged in.

[2013-10-31 21:37] daviddurand commented on #294
The blank page is coming up because some new logging code is trying to figure out what account you are logged into, _after_ you have logged out, and your session has been destroyed. The blank page, however does not properly signal its end to the browser, so the browser progress indicator will keep on going.

[2013-10-31 22:15] daviddurand commented on #293
Can you post the trace info?

[2013-11-01 13:12] orangedrink commented on #293
Yes. I'll post that as soon as I can. Thanks!

[2013-11-01 14:26] orangedrink commented on #293
[code]

[2013-11-01 14:49] daviddurand commented on #293
I assume this is a tab-delimited export...

I'm guessing that there must be more of that stuff, including maybe some freemarker errors. I could really use all of that stuff to help track it down.

It looks like this is happening because the user list is changing while you are doing the export. It could be a cache problem, but I don't think so. That means that another export attempt might work, or

[2013-11-04 16:45] orangedrink commented on #293
I'll try to give you some steps to reproduce this. Do you have the "*.tizrapublisher.com" address of the site so I can log in to that?

[2013-11-06 00:12] daviddurand commented on #293
just go to the "Settings" "Site name" to get other names for the site.

[2013-11-06 16:24] Kuhrt opened #295 "Having issues with html attachments"
We've started adding several interactive materials for our teachers. They're all html pages with javascript, most have directories with css files and other things. Right now there's 3 different types we have and each one of them are having an issue when clicking the link from our pdf pages. If you copy the links and then paste them in the browser or refresh the page they work fine, but clicking th

[2013-11-06 18:22] daviddurand commented on #295
I found a javascript problem in the page initialization for the reader that was interfering with the link setup.

This was a bug at the Tizra end, but it's always a good idea to check the Javascript console, as problems there can cascade into other areas.

Also, I see that you are using full links to the attachments. It's probably better to use relative links so that you don't wire yourself down t

[2013-11-06 18:22] #295 closed, assigned to daviddurand

[2013-11-06 19:03] #277 closed, assigned to daviddurand

[2013-11-06 19:06] daviddurand commented on #277
The fix is finally in place, so you need not add the link-rel to your fragment ids any more. This will go live for all documents published after tomorrow.

[2013-11-06 21:22] daviddurand opened #296 "Allow Licenses to be sorted so that their position in user license lists can be controlled"
This is most important for manually created group licenses.

[2013-11-08 00:21] #296 closed, assigned to daviddurand

[2013-11-11 20:25] Kuhrt opened #297 "Printing 3 pages instead of 1"
Good afternoon!

We're having an issue of when we try and print our pdf pages using ctrl+p or hitting print in the browsers tool menu, it's printing out one page correctly and then 2 blank pages after it. If you hit the actual print button in the reader, it works fine. It's just when you try to print from the browser it messes things up. I've tested it in IE, Firefox and Chrome and they all mess u

[2013-11-15 15:01] Kuhrt opened #298 "Course links error from 'My Account" section"
If we try to access our subscriptions from our Account section, when we click the link to the subscription and then click the actual publication link to see it in the reader, it gives us the error below. Cleared the cookies and made sure it's allowing them. Happens on all browsers. Thanks!

![image](https://f.cloud.github.com/assets/4027030/1550615/d3db0864-4e06-11e3-9a20-b7284d65ad08.png)

[2013-11-15 15:15] adane commented on #298
Hi Kurt--

David's working on this now.  We'll let you know as soon as we have an update.

Thank you.

Abe

[2013-11-15 15:17] daviddurand commented on #298
I've verified the bug. The links to excerpts are creating URLs with duplicate path components, and that is leading to the loop. If you delete the duplicate from the URL, you can get access, so that may help people who are panicked and urgent. We will fix ASAP.

[2013-11-15 15:45] daviddurand commented on #298
There is a problem redirecting from excerpts to page one when tables of contents are suppressed. Fix will be in place soon.

[2013-11-15 15:47] #298 closed, assigned to daviddurand

[2013-11-15 17:09] cbwinchild opened #299 "Be Able to View Sort Value in the License List for User/Institutional/Account Set"
When I create Sort Values on new licenses, I am able to create multiple licenses with the exact same sort value. It would be helpful to be able to see the Sort Value in the license list on the User/Institutional/Account Set Properties screen so that when I go to create a new license, I can tell where I want to insert it.

[2013-11-18 01:38] #284 closed, assigned to daviddurand

[2013-11-18 14:21] aabercrombie opened #300 "Users with licenses cannot access content"
Users on aga53756.tizrapublisher.com (aga.conferencespot.org) are being told they can't access content despite their licenses being correct. Have gotten emails from 5 users so far. Seems to have started yesterday, based on dates of email support requests. Specific users so far reported include: james.oglesby@verizon.net, number_cruncher77@hotmail.com, malam003@yahoo.com, meganitat@gmail.com  and t

[2013-11-18 14:24] Kuhrt opened #301 "Customers can't open their subscribed courses"
Good morning!

This morning several teachers can't log in even though their license aren't expired. We've had 20+ customers call. I can log on and get to everything fine, so I'm not sure how to recreate the issue. Thanks!

[2013-11-18 14:25] adane commented on #301
Sorry, Kurht.  We are working on this right now.

[2013-11-18 14:26] adane commented on #300
Sorry, Alicia.  We are working on this issue right now.

[2013-11-18 15:01] adane commented on #301
The issue has been addressed.  Please let us know if you see any further trouble.  Very sorry for the problems caused.

[2013-11-18 15:02] adane commented on #300
Hi Alicia--

The issue should be addressed.  Please let us know if you see any further trouble.

Very sorry for the inconvenience to your users.

Abe

[2013-11-18 15:12] Kuhrt commented on #301
It's working smooth as butter now. Thanks so much. You guys are so great at getting to everything and fixing it so quickly. Thank you so much for all your work!!

[2013-11-18 15:12] #301 closed, assigned to nobody

[2013-11-18 15:29] aabercrombie commented on #300
Looks like it's all working now. Thanks!

[2013-11-18 15:29] #300 closed, assigned to nobody

[2013-11-18 15:31] aabercrombie opened #302 "Zip files not working"
On ai.tizrapublisher.com, zip files are not downloading properly. Any link to a zip file takes you back to the homepage instead. Ex: on http://knowledgecenter.appraisalinstitute.org/res-comm-solar, the Pre and Post class links are zip files that should download on click. Takes you back to homepage instead. Issue noticed last Friday.

[2013-11-18 16:32] Kuhrt commented on #297
Ok, so now printing doesn't work at all. If you hit the print button in the reader, it doesn't load the image to print and so just prints a blank page. Thanks!

[2013-11-18 17:58] daviddurand commented on #297
got it....

[2013-11-18 19:32] daviddurand commented on #302
We are very sorry!

As a result of backing out problem from this morning, Some URLs generated by Tizra do not have trailing slashes -- this will be fixed tonight, as we have found the cause of the problem, and can bring the system fully back up to date, but it can't be changed sooner without causing other problems.

Your site is using javascript to rewrite URLs in the Tizra markup, and that script

[2013-11-18 19:32] #302 closed, assigned to daviddurand

[2013-11-19 03:03] daviddurand commented on #302
This is now fixed for good. No need to change the script if you haven't already.

[2013-11-20 15:06] Kuhrt commented on #298
Good morning!

I'm not sure if this was previously fixed, I thought it was, but it's doing it again. Also, the issue we were having with html attachments is also doing the same thing it was doing. We are using the new reader now as well.

[2013-11-20 21:48] daviddurand commented on #298
This was a classic regression, and is now fixed again. Sorry for the problem.

[2013-11-21 15:49] cbwinchild opened #303 "Add New Property dialog box reads "Add New Document Property" for all CONTENT types"
When you go to add a New Property to a Static Page, Excerpt, Offer, Collection, etc., the Add New Property dialog box always reads Add New Document Property."

[2013-12-17 16:55] cbwinchild opened #304 "Two author names in the PDF do not upload into the Document Properties screen"
If I have two authors entered into the PDF's File > Properties > Description tab > Author field, and I enter the two names as such: Winchild, Catherine; Durand, David -- only the first name uploads.

Obviously, it's easily edited on the Document Properties screen, but I wasn't sure if this is a PDF limitation or an upload bug. Thx.

[2013-12-23 19:27] daviddurand commented on #263
This has been fixed for some time.

[2013-12-23 19:27] #263 closed, assigned to daviddurand

[2013-12-23 19:32] daviddurand commented on #304
duplicates #299

This is the same bug.

[2013-12-23 19:32] #304 closed, assigned to daviddurand

[2013-12-23 19:38] #166 closed, assigned to daviddurand

[2013-12-23 19:39] #293 closed, assigned to daviddurand

[2013-12-23 19:40] #109 closed, assigned to daviddurand

[2013-12-23 19:40] #132 closed, assigned to daviddurand

[2013-12-23 19:51] daviddurand opened #305 "Support Byte-range requests for attachments"
This is needed to support some browsers' ability to stream and seek in video without custom streaming protocols.

[2013-12-24 01:43] #229 closed, assigned to daviddurand

[2013-12-24 01:43] #303 closed, assigned to nobody

[2013-12-24 01:43] #305 closed, assigned to daviddurand

[2014-01-07 21:29] aabercrombie opened #306 "Can't delete users"
Trying to delete users from cmba.tizrapublisher.com. Get this error whenever trying to delete a page of users.

Request failed. Error sent back: >><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Tizra AgilePublisher Error</title>
        <meta http-equiv="Content-Type" content="text/html; cha

[2014-01-08 14:40] daviddurand commented on #306
I'll work on making the error message for this kind of problem more informative. The logs show there is a problem deleting one of the accounts, which was a database issue.

There was an account starting with 2ggoldberg that was causing the problem. I cleaned it up. Could have been from a loading error long ago.

[2014-01-08 15:18] aabercrombie commented on #306
I just tried again this morning and ran into the same error. (Set list length of users to 1000, checked all, tried to delete, got to 100% and then got error message.)

[2014-01-08 15:20] aabercrombie commented on #306
If it helps any, every time I try to leave that page after doing something I also get an alert that what I did wasn't saved and am I sure I want to leave the page. Seeing as no changes had been made, maybe something else is going on?

[2014-01-08 15:55] daviddurand commented on #306
There must be some number of bad users in the lot. Perhaps a failed load at some point.

Deletion isn't a "safe" operation, so I can't find the problem accounts, because I can't start deleting accounts randomly on a test basis.

You don't have to delete the accounts before a load, as they will be updated as necessary during the load. The import will delete any tags that are no longer attached to a

[2014-01-08 15:57] daviddurand commented on #306
The change error is just a warning that the operation was not completed, before you lose your checkboxes -- you can ignore it.

[2014-01-08 16:31] aabercrombie commented on #306
No matter what users I try to delete from that main page, I get the error. I tried random accounts on all pages. No matter what I try I get that error. If it's only a few accounts here and there, that doesn't make sense.

When I tried to upload users with new tags yesterday, anyone who was already in the system didn't have their tags updated, they were just skipped. So the system seems to also not

[2014-01-08 17:38] aabercrombie commented on #306
Never mind. Upload seems to be working correctly today so it's been taken care of for now.

[2014-01-08 17:38] #306 closed, assigned to daviddurand

[2014-01-09 17:49] cbwinchild opened #307 "Enabling "Always Approve (test purchase)" Fulfiller in Staging"
If I have enabled Always Approve (test purchase) (COMMERCE > Fulfillers), and I add an item to my Shopping Cart in Staging, I get a message that reads: "No fulfillers are active for commerce transactions." Also, there is no "Buy Now" button. Not sure if that's intentional/if the test fulfiller is no longer used w/ shopping cart?

Thx/Catherine

[2014-01-10 16:40] adane opened #308 "Hidden Collections show up in search scope dropdown in Beta Reader"

[2014-01-22 21:49] ghost opened #309 "Image not showing up for Kindle Fire HDX"
I recall this being a bug we found once before for another mobile device, but I couldn't find it and update.

We have an end user using the new Kindle Fire HDX. When you go to a paper, the image of the page doesn't load. [broken image icon appears in the middle of viewer]

[2014-01-22 22:08] daviddurand commented on #309
Do you have the user-agent string for that device?

That's what I'll need to track down any problems (as long as the problem is not simply ability to display an image over a particular size).

[2014-01-23 15:35] ghost commented on #309
I'm sorry, i don't know exactly what you are looking for, but I did find this for Kindle devices.
https://developer.amazon.com/public/solutions/devices/kindle-fire/specifications/04-user-agent-strings

Kindle Fire HDX 8.9" (3rd Generation)
Silk browser
See Amazon Silk User Agent in the Amazon Silk Developer Guide.

Kindle Fire HDX 7" (3rd Generation)
android.webkit.WebView
Mozilla/5.0 (Linux; U; A

[2014-01-23 18:57] ghost commented on #309
David, I see that this was closed, but I don't see any change to the kindle fire hdx. The image still doesn't show up in our device.

[2014-01-23 20:21] daviddurand commented on #309
I'll need to know which exact version is not working, and what the user-agent string is. I found a problem in detecting Android tablets, and fixed it -- it was delivering PDF instead of PNG, and that was causing problems for many android tablets. My old fire is getting proper display with an image delivered.

make sure that the caches have all been cleared in case old markup is hanging around in t

[2014-01-23 21:28] ghost commented on #309
Browser is the Silk Browser.

it appears as if the problem is when allowing the device to pick the "View option". It seems to default to "Desktop" but when it does that it doesn't load the image. When the view option is switched to mobile it loads the correct image. I don't feel like most people will know to do this on your system, so I think that the desktop option needs to be accounted for.

I a

[2014-01-24 23:55] daviddurand commented on #309
Actually that was very helpful. The "desktop" version does not set the "mobile" flag (as you would expect), but it does not admit to being android either (which I did not expect). So we were delivering PDF images as we do for all other versions of Safari.

I think I can sniff the browser properly now.

[2014-01-25 00:06] #309 closed, assigned to daviddurand

[2014-01-25 00:07] daviddurand commented on #309
partial fix is in place. Default view selection will be fixed tomorrow after restart.

will take up to 5 minutes for cache to clear.

[2014-01-27 22:44] adane opened #310 "When a Document's Visibility is Limited to Certain User Sets, Users Within Those Sets Cannot See the Document"
When I create a Document with visibility limited to a certain account set, users who are in that account set can't see the Document.  (It IS visible to that user when "Show in Public Search and Indexes" is set to Yes, and it is apparently invisible to all users when it is set to no).

[2014-01-27 22:49] adane opened #311 "Excel Exports have mal-formed extensions"
When I export ecommerce transaction data from the REPORTING area, or user account info from the USER area and select the option to export as Excel '97, filenames have escaped characters instead of dots before the extensions.  For example...

commerceDataDump%2Exls

or

userDataDump%2Exls

[2014-01-28 19:58] adane opened #312 "Filter Tag Picker Does Not Show Capitalization or Punctuation Correctly"
For example, in the attached screenshot, a Document titled "SAMPLE: A Natural Approach to Chemistry" shows up in the tag picker as "sample%3A a natural approach to chemistry"

![2014-01-28 02 55 06 pm](https://f.cloud.github.com/assets/1355614/2023072/4e7ba8ce-8856-11e3-8380-dfe7b9e4d8ea.png)

[2014-01-29 21:29] daviddurand commented on #312
This is actually a feature of search engine updates. At one time these matches were case sensitive, but the field values and the index were normalized to lower case. The new system is more respectful of case, but has to present the old values until the document is republished, after which the value will look normal again.

This way of doing things looks a little weird at times, but guarantees that

[2014-01-29 21:29] #312 closed, assigned to daviddurand

[2014-01-31 21:03] aabercrombie opened #313 "Random system sign outs"
I've gotten several support requests for two of our sites this week (elibrary.asppa.org and aga53756.tizrapublisher.com) that the system is randomly logging people out. We've had users say the system is signing them out after 5 mins on the site. After being kicked out, they also can't get back in because the browser is holding on to their log in information.

I had the same thing happen to me yest

[2014-02-01 01:10] daviddurand commented on #313
There were a few outages due to a java vm bug that randomly hit us. The
system does take 5 minutes to come completely back again when that happens
at peak load, because it ends overloaded as all those people log back in.

Ignoring late-night/early AM maintenance, this list gives you a sense of
restarts recently, which have been more frequent than usual due to this
problem.

A restart feels like a

[2014-02-04 16:26] adane opened #314 "Restricting Main Offer List to Live or Staging Does Not Change Contents of Lilst"
In the Admin, navigate to the main Offers list via the Site Browser.  Changing the dropdown to restrict to content that is in live or staging has no effect.  Filtering seems to work properly in Documents and at least some other lists.  See screenshot attached.

Note also that Offer list seems to include Excerpt Offers, when I think those should only appear in the Excerpt Offers list.

![screenshot

[2014-02-05 13:33] adane opened #315 "Attachments Loaded via WebDav do not Become Available in Admin"
Tested by dragging a JPEG file in from finder in Mac OS 10.9.1.

File appeared to copy successfully, but did not become visible in Attachments section of Document Properties.  Checked over a period of 10 minutes or more.

[2014-02-07 00:25] #313 closed, assigned to nobody

[2014-02-07 14:37] aabercrombie commented on #286
I'm opening this issue again because the workaround isn't helping.

Once I'm on a PDF page (for example http://knowledgecenter.appraisalinstitute.org/829-student-handbook/1) and I click the download icon, which has the address ending in ~~PdfSource/0 (see photo below) I still get the forms error when I download the file. Based on what you said above, that shouldn't be happening. All licenses are s

[2014-02-07 14:39] aabercrombie commented on #286
![2014-02-07_0838](https://f.cloud.github.com/assets/3876308/2110605/ab19ffca-9005-11e3-84cc-fab331563215.png)

[2014-02-07 14:41] aabercrombie commented on #286
One more note: the downloaded files work in Adobe Pro, but not in Adobe Reader.

[2014-02-07 16:56] adane commented on #310
Looks like this is fixed!

[2014-02-07 16:56] #310 closed, assigned to daviddurand

[2014-02-07 19:09] daviddurand commented on #286
I'm confused as the ~~PdfSource/0 link is literally a link to the file itself, as uploaded to Tizra. We don't change anything in the file at all.

Browsers can sometimes lie about the content-type of a file (Mozilla and Firefox do this a lot, actually). And we sometimes have no choice but to believe them -- if the type is wrong that might be causing the browser to do something funny with the downl

[2014-02-07 21:31] aabercrombie commented on #286
If I do a direct download from the admin side, then I can open the file and use the form. It looks like in both Firefox and Chrome it's passing through a browser plugin (opening in a new tab in the browser and then you have to click download again from there to pull the file down to your computer). If that's the issue, then is there a way to force that to just download directly without the interme

[2014-02-07 21:37] aabercrombie opened #316 "Tags aren't staying for users"
Trying to add tags to some users within the AI site (ai.tizrapublisher.com). When I add tags for a user, they stay for about 5 minutes and then disappear again.

For example, with user cmarcordes@appraisalinstitute.org, I was trying to add the tags of aistudent and aiinstructor. When I hit save, the tags stay there for about 5 mins and then just disappear.

[2014-02-07 21:45] daviddurand commented on #316
I believe that the this site has an SSO implementation. This means that any tags will be reset when the user logs in, as they are controlled remotely.

[2014-02-07 21:54] aabercrombie commented on #316
Oops, yes, yes they are. Award for unnecessary ticket for the day goes to me.

[2014-02-07 21:54] #316 closed, assigned to daviddurand

[2014-02-12 17:28] adane opened #317 "Bug in Create New License Dialog"
On the user profile page, clicking the + add new license link generates the following error.

A similar error occurs when creating licenses on Account Sets.
![2014-02-12 12 26 07 pm](https://f.cloud.github.com/assets/1355614/2151347/df341eea-940a-11e3-81cf-ba1260b21232.png)

[2014-02-12 18:56] daviddurand commented on #317
This is caused by a bad search index entry for an offer on your site -- which will be repaired soon.

[2014-02-12 19:23] daviddurand commented on #317
This is fixed now.

[2014-02-12 19:23] #317 closed, assigned to daviddurand

[2014-02-13 15:35] daviddurand opened #318 "Support automatic placement of meta tags in HTML header for properties"
Enable the declaration of a property for inclusion under a specified name in the HTML header. This is a key capability to support and enhance search engine optimization, Google Scholar indexing, and LOCKSS.

[2014-02-21 14:43] aabercrombie opened #319 "Users with licenses denied access to content"
Two users on aga53756.tizrapublisher.com have been denied access to their materials this morning despite having the proper licenses. Also had two users with the same issue on elibrary.asppa.org.

[2014-02-21 15:15] adane commented on #319
Hi Alica--

We're working on this...please see email.

Thank you.

Abe

[2014-02-21 15:26] adane commented on #319
We just put in a fix.  Can you let us know if you're still seeing problems?

[2014-02-21 17:16] #319 closed, assigned to nobody

[2014-02-22 23:35] #318 closed, assigned to daviddurand

[2014-02-26 17:59] aabercrombie commented on #286
Hey guys, just checking in on if there's an answer for this?

[2014-02-26 18:06] aabercrombie opened #320 "Text not displaying on index page"
Descriptions are no longer appearing in the indices for trb-hcm.tizrapublisher.com. (See picture below). We haven't updated this site since Nov of 2012, so I can't think of anything we'd have done to cause this change. Documents are still loaded properly, descriptions are there in the abstract field.

![hcm_error](https://f.cloud.github.com/assets/3876308/2273459/b66dde86-9f10-11e3-819f-1047a50b0c

[2014-02-28 14:14] ghost commented on #320
This is also happening on ASPPAs site. http://elibrary.asppa.org/erisa-outline-book/
Each chapter should have a description under them.
We haven't made any changes to either of these site.

[2014-02-28 14:41] Kuhrt opened #321 "Getting error when trying to add license"
Good morning!

We're getting an error every time we try to add a license. It pops up right when you hit the "+ add new license" on any user. The error is below. Thanks!

![image](https://f.cloud.github.com/assets/4027030/2294754/70508940-a086-11e3-9e43-762069ec49d1.png)

[2014-02-28 15:12] daviddurand commented on #321
Thanks for the report. This is fixed now.

[2014-02-28 15:12] #321 closed, assigned to daviddurand

[2014-02-28 15:15] daviddurand opened #322 "Login Block is not retaining “Default URL to visit on login:”"
This is a problem in the presentation editor.

Reported by Tim Huiner thuiner@g-w.com.

[2014-02-28 15:50] daviddurand commented on #320
I just tracked this down. A new feature allows the data types of built-in properties to be adjusted (creating site-specific overrides for the). The Show? flag on those properties was incorrectly changing the system definition rather than creating an override.

The ability to do this is now removed, and the properties are being returned to their normal visibility settings -- the abstracts are alrea

[2014-02-28 18:04] daviddurand commented on #286
So, One thing I said above was wrong. You have watermarking turned on for the site, so there is watermark text being added. I think this is the problem....

Now, in Chrome, the file loaded -- and chrome was happy to let me type in the form, but acrobat reader was not.

If you turn off watermarking in the advanced site settings, that should fix it.

Sorry I didn't notice this earlier.

[2014-02-28 18:18] aabercrombie commented on #286
Interesting. I'll let you know how that goes. If that's the issue, I'll close the ticket :)

[2014-02-28 18:24] daviddurand commented on #286
Again, I'm really sorry for having been obtuse on this one, if it's that simple.

[2014-02-28 21:57] ghost commented on #320
And the problem is back...

I check both of these sites after you closed this, and it looked fine. Now they once again do not have text coming through.

http://elibrary.asppa.org/erisa-outline-book/
http://hcm.trb.org/v1/

[2014-02-28 22:05] aabercrombie commented on #286
It looks like that worked! I tested it in Firefox and Chrome and did downloads from both and the forms came through just fine. Thanks for finally figuring that out.

[2014-02-28 22:05] #286 closed, assigned to nobody

[2014-02-28 22:18] daviddurand commented on #320
I removed the bug that let this change happen, and I'm hoping that the return was due to some stale cache entry rasing its head. I've manually flushed things, and I'll check after a restart tonight. I'll re-open this until we can confirm that there's not another way for this problem to happen.

[2014-02-28 23:11] daviddurand commented on #320
It really is back. I found out why, but the fix will be later tonight. In the meantime I've used a property override to set these sites so the problem won't hit them in the meantime.

I did that by "editing" the property definition and just changing the user visibility.

[2014-02-28 23:58] daviddurand commented on #320
This should _really_ be fixed now. Will leave ticket open until tomorrow just in case.

[2014-03-05 18:25] #320 closed, assigned to daviddurand

[2014-03-06 12:43] adane opened #323 "Collection Intro Text Field Cannot be Displayed"
Text entered in the Intro Text field is not being included in the end user page, regardless of the "Shown to users?" setting.

[2014-03-07 17:20] aabercrombie opened #324 "Users with pending activation not able to set password"
We have several new users that were manually added to aga53756.tizrapublisher.com this morning and set to pending activation. When they enter their email address and hit login, they get sent to this URL https://secure.agilepdf.com/login/31a3hm/internal in IE with a page not found error or to https://secure.agilepdf.com/login/31a3hm/tempredirect in FF and Chrome with a blank page.

You can use cknj

[2014-03-07 17:40] daviddurand commented on #324
Sorry about this.

There is indeed a problem with the redirection to the registration form for accounts like this.

We will fix it tonight, but we do not want the user impact of a restart at this time, and there is an easy workaround -- simply click on the register link directly, and fill in the form.

If you add some text to the login dialog telling new folks to do that, you should be able to wor